<%= form_for(@change_request) do |f| %>
  <% if @change_request.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@change_request.errors.count, "error") %> prohibited this change_request from being saved:</h3>

      <ul>
      <% @change_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul class="nav nav-tabs">
  <li class="active" ><a href="#request" data-toggle="tab">Request</a></li>
  <li role="presentation" ><a href="#analysis" data-toggle="tab">Analysis Impact Solution</a></li>
  <li role="presentation"><a href="#design" data-toggle="tab" >Design and Backup Plan</a></li>
  <li role="presentation"><a href="#testing" data-toggle="tab">Testing</a></li>
  <li role="presentation"><a href="#approval" data-toggle="tab">Approval</a></li>
  <li role="presentation"><a href="#implementation" data-toggle="tab">Implementation</a></li>
</ul>
 <%= tinymce :theme => "modern", :skin => 'light', menubar: "false"%>
<div class="row">
  <div class="col-lg-6">
    <div class="tab-content">
  <div class="tab-pane fade in active" id="request">
    <div class="field form-group">
      <%= f.label :change_summary %><br>
      <%= f.text_field :change_summary, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :requestor_position %><br>
      <%= f.text_field :requestor_position, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :priority %><br>
      <div class="row">
        <div class="col-lg-6">
          <%= f.select :priority, options_for_select(%w[Critical Urgent High Normal Low]), {include_blank: true}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :category %><br>
      <div class="row">
        <div class="col-lg-6">
          <select class="form-control" id="category-picker" name="picker">
             <option value=""></option>
             <option value="Application">Application</option>
             <option value="Server">Server</option>
             <option value="Network Equpment">Network Equipment</option>
             <option value="User Access">User Access</option>
             <option value="Other">Other</option>
          </select>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :category, "data-depends-on" => "#category-picker", "data-depends-on-value" => "Other", class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :type %><br>
      <div class="row">
      <div class="col-lg-6">
        <select class='form-control' id="type_picker" name="picker">
           <option value=""></option>
           <option value="Security">Security</option>
           <option value="Update">Update</option>
           <option value="Install/Uninstall">Install/Uninstall</option>
           <option value="Configuration Change">Configuration Change</option>
           <option value="Emergency Change">Emergency Change</option>
           <option value="Other">Other</option>
        </select>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :cr_type, "data-depends-on" => "#type_picker", "data-depends-on-value" => "Other", class: 'form-control' %>
      </div>
    </div>
    </div>
    <div class="field form-group">
      <%= f.label :change_requirement %><br>
      <%= f.text_area :change_requirement, class: "tinymce" %>
    </div>
    <div class="field form-group">
      <%= f.label :business_justification %><br>
      <%= f.text_area :business_justification, class: "tinymce" %>

    </div>
    <div class="field form-group">
      <%= f.label :note %><br>
      <%= f.text_area :note, class: "tinymce"%>
    </div>
    <h3>Dependency</h3>
     <div class="field form-group">
      <%= f.label :operating_system %><br>
      <%= f.text_area :os, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :data_base %><br>
      <%= f.text_area :db, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :network %><br>
      <%= f.text_area :net, class: 'form-control' %>
    </div>
  </div>
  <div class="tab-pane fade" id="analysis">
    <div class="field form-group">
      <%= f.label :analysis %><br>
      <%= f.text_area :analysis, class: "tinymce" %>
    </div>
    <div class="field form-group">
      <%= f.label :solution %><br>
      <%= f.text_area :solution, class: "tinymce" %>
    </div>
    <div class="field form-group">
      <%= f.label :impact %><br>
      <%= f.text_area :impact, class: "tinymce" %>
    </div>
    <div class="field form-group">
      <%= f.label :scope %><br>
      <%= f.text_field :scope, class: 'form-control' %>
    </div>
    <h3>CAB</h3>
    <div id="cabs">
      <%= f.fields_for :cabs do |cab| %>
        <%= render 'cab_fields', :f => cab %>
      <% end %>
      <%= link_to_add_association 'add cab', f, :cabs %>
    </div>
  </div>
  <div class="tab-pane fade" id="design">
    <div class="field form-group">
      <%= f.label :design %><br>
      <%= f.text_area :design, class: "tinymce" %>
    </div>
    <div class="field form-group">
      <%= f.label :backup %><br>
      <%= f.text_area :backup, class: "tinymce" %>
    </div>
  </div>
  <div class="tab-pane fade" id="testing">
    <div class="field form-group">
      <%= f.label :testing_environment_available %><br>
      <%= f.check_box :testing_environment_available %>
    </div>
    <div class="field form-group">
      <%= f.label :testing_procedure %><br>
      <%= f.text_area :testing_procedure, class: "tinymce" %>
    </div>
    <div class="field form-group">
      <%= f.label :testing_notes %><br>
      <%= f.text_area :testing_notes, class: "tinymce" %>
    </div>
    <h3>Tester</h3>
    <div id="testers">
      <%= f.fields_for :testers do |tes| %>
       <%= render 'tester_fields', :f => tes %>
      <% end %>
      <%= link_to_add_association 'add tester', f, :testers %>
    </div>
  </div>
  <div class="tab-pane fade" id="approval">
    <h3>Approval</h3>
    <div id="approvals">
      <%= f.fields_for :approvers do |app| %>
        <%= render 'approver_fields', :f => app %>
      <% end %>
      <%= link_to_add_association 'add approver', f, :approvers %>
    </div>
  </div>
  <div class="tab-pane fade" id="implementation">
    <div class="field form-group">
      <%= f.label :schedule_change_date %><br>
      <%= f.datetime_select :schedule_change_date, :include_blank => true %>
    </div>
    <div class="field form-group">
      <%= f.label :planned_completion %><br>
      <%= f.datetime_select :planned_completion, :include_blank => true %>
    </div>
    <div class="field form-group">
      <%= f.label :grace_period_starts %><br>
      <%= f.datetime_select :grace_period_starts, :include_blank => true %>
    </div>
    <div class="field form-group">
      <%= f.label :grace_period_end %><br>
      <%= f.datetime_select :grace_period_end, :include_blank => true %>
    </div>
    <div class="field form-group">
      <%= f.label :implementation_notes %><br>
      <%= f.text_area :implementation_notes, class: "tinymce" %>
    </div>
    <div class="field form-group">
      <%= f.label :grace_period_notes %><br>
      <%= f.text_area :grace_period_notes, class: "tinymce" %>
    </div>
    <h3>Implementer</h3>
    <div id="implementers">
      <%= f.fields_for :implementers do |imp| %>
        <%= render 'implementer_fields', :f => imp %>
      <% end %>
      <%= link_to_add_association 'add implementer', f, :implementers %>
    </div>

  </div>
  </div>
</div>
</div>
<br>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>

<% end %>
