<!--custom script to remove tinymce before init, it ressolve tinymce and turbolinks problem-->
<script>
    tinymce.remove();
    function eventHandler(inst) {
        unsaved = true;
    };
</script>
<%= form_for(@change_request) do |f| %>
  <%= f.hidden_field :reference_cr_id, value: @change_request.reference_cr_id %>
  <% if @change_request.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@change_request.errors.count, "error") %> prohibited this change_request from being saved:</h3>
      <ul>
        <% @change_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div><!--/error-explanation-->
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <div class="nav nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active" ><a href="#request" data-toggle="tab">Request</a></li>
          <li role="presentation" ><a href="#analysis" data-toggle="tab">Analysis Impact Solution</a></li>
          <li role="presentation"><a href="#design" data-toggle="tab" >Design and Backup Plan</a></li>
          <li role="presentation"><a href="#testing" data-toggle="tab">Testing</a></li>
          <li role="presentation"><a href="#implementation" data-toggle="tab">Implementation</a></li>
          <li class="pull-right">   <%= f.submit class:"btn btn-primary", :id => "save" %></li>
        </ul>

      </div><!--/nav-->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="request">
          <div class="box box-default">
            <div class="box-header with border"></div>
            <div class="box-body">
              <div class="col-md-6">
                <% if @change_request.errors.messages[:change_summary] %>
                  <div class="field form-group has-error">
                <% else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :change_summary, class: 'control-label'%><br>
                    <%= f.text_field :change_summary, class: 'form-control' %>
                  </div><!--/field-->
                <div class='col-md-6 form-group required' style='padding-left:0 ; border-right: 1px solid #d9d9d9'>
                  <%= f.label :category, class: 'control-label'%><br>
                  <%= f.check_box :category_application %>
                  <%= f.label :application %><br>
                  <%= f.check_box :category_network_equipment %>
                  <%= f.label :network_equipment %><br>
                  <%= f.check_box :category_server %>
                  <%= f.label :server %><br>
                  <%= f.check_box :category_user_access %>
                  <%= f.label :user_access %><br>
                  <div class='input-group'>
                    <span class='input-group-addon'>Other</span>
                    <%= f.text_field :category_other, class: 'form-control'%>
                  </div><!--/input-group-->
                </div><!--/col-->
                <div class='col-md-6 form-group required' style='padding-right:0'>
                  <%= f.label :type, class: 'control-label' %><br>
                  <%= f.check_box :type_security_update %>
                  <%= f.label :security_update %><br>
                  <%= f.check_box :type_install_uninstall %>
                  <%= f.label :install_uninstall %><br>
                  <%= f.check_box :type_configuration_change %>
                  <%= f.label :configuration_change %><br>
                  <%= f.check_box :type_emergency_change %>
                  <%= f.label :emergency_change %><br>
                  <div class='input-group'>
                    <span class='input-group-addon'>Other</span>
                    <%= f.text_field :type_other, class: 'form-control'%>
                  </div><!--/input-group-->
                </div><!--/col-->
                <% if @change_request.errors.messages[:priority] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :priority, class: 'control-label' %>
                    <%= f.select :priority, options_for_select(ChangeRequest::PRIORITY, @change_request.priority), {include_blank: true}, {class: 'form-control select2'} %>
                  </div><!--/field-->
              </div><!--/col-->
              <div class="col-md-6">
                <div class="field form-group">
                  <%= f.label :requestor_name %><br>
                  <%= f.text_field :requestor_name, value: current_user.name, class: 'form-control', readonly: :readonly %>
                </div><!--/field-->

                <div class="field form-group">
                  <label>Tag</label><br>
                    <%= f.select :tag_list, options_for_select(@tags), {}, {class: 'select2-tag form-control', multiple:'multiple'} %>
                </div><!--/field-->
                <div class="field form-group">
                  <label>Collaborators</label><br>
                    <%= f.select :collaborator_ids ,options_for_select(@users), {  }, { class: 'select2-collaborate form-control', multiple:true } %>
                </div><!--/field-->
                <% if @change_request.errors.messages[:approvals] %>
                  <div class="field form-group has-error">
                <% else %>
                  <div class="field form-group required">
                <% end %>
                  <label class="control-label">Approvers</label><br>
                    <%= f.select :approver_ids, options_for_select(@approvers), { }, { class: 'select2-approve form-control', multiple:true } %>
                </div><!--/field-->


                  <div class="field form-group">
                    <%= f.label :downtime_expected %><br />
                    <div class="field">

                      <%= f.label :downtime_expected, "Expected: ", :value => "true"  %>
                      <%= f.radio_button :downtime_expected, true %>
                      <%= f.label :downtime_expected, "None", :value => "false" %>
                      <%= f.radio_button :downtime_expected, false %>
                    </div>

                    <%= f.text_field :expected_downtime_in_minutes, class: 'form-control input-small' %> minutes
                   </div>
              </div><!--/col-->
            </div><!--/box-body-->
          </div> <!--/box-->
          <div class='row'>
            <div class='col-md-6'>
              <div class="box box-default">
                <div class="box-header">
                  <h3 class="box-title">Request's Detail</h3>
                </div><!--/box-header-->
                <div class="box-body">
                  <% if @change_request.errors.messages[:change_requirement] %>
                    <div class="field form-group has-error">
                  <%else %>
                    <div class="field form-group required">
                  <% end %>
                      <%= f.label :change_requirement, class: 'control-label' %><br>
                      <%= f.text_area :change_requirement, :class => "form-control tinymce" %>
                    </div><!--field-->
                  <% if @change_request.errors.messages[:business_justification] %>
                    <div class="field form-group has-error">
                  <%else %>
                    <div class="field form-group required">
                  <% end %>
                      <%= f.label :business_justification, class: 'control-label' %><br>
                      <%= f.text_area :business_justification, class: "form-control tinymce" %>
                    </div><!--/field-->
                  <div class="field form-group">
                    <%= f.label :note %><br>
                    <%= f.text_area :note, class: "form-control tinymce"%>
                  </div><!--/field-->
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!--/col-->
            <div class='col-md-6'>
              <div class="box box-default">
                <div class="box-header">
                  <h3 class="box-title">Dependency</h3>
                </div><!--/box-header-->
                <div class="box-body">
                  <div class="field form-group">
                    <%= f.label :operating_system %><br>
                    <%= f.text_area :os, class: 'form-control tinymce' %>
                  </div><!--/field-->
                  <div class="field form-group">
                    <%= f.label :database %><br>
                    <%= f.text_area :db, class: 'form-control tinymce' %>
                  </div><!--/field-->
                  <div class="field form-group">
                    <%= f.label :network %><br>
                    <%= f.text_area :net, class: 'form-control tinymce' %>
                  </div><!--/field-->
                  <div class="field form-group">
                    <%= f.label :other %><br>
                    <%= f.text_area :other_dependency, class: 'form-control tinymce' %>
                  </div><!--/field-->
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!--/col-->
          </div> <!--/row-->
        </div><!--/tab-pane-->
        <div class="tab-pane fade" id="analysis">
          <div class="box box-default">
            <div class="box-header with border"></div>
            <div class="box-body">
              <div class="col-md-6">
                <% if @change_request.errors.messages[:analysis] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :analysis, class: 'control-label' %><br>
                    <%= f.text_area :analysis, class: "form-control tinymce",style:"height:250px;"%>
                  </div><!--/field-->
                <% if @change_request.errors.messages[:solution] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :solution, class: 'control-label' %><br>
                    <%= f.text_area :solution, class: "form-control tinymce" %>
                  </div><!--/field-->
              </div><!--/col-->
              <div class="col-md-6">
                <% if @change_request.errors.messages[:impact] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :impact, class: 'control-label' %><br>
                    <%= f.text_area :impact, class: "form-control tinymce"%>
                  </div>
                <% if @change_request.errors.messages[:scope] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :scope, class: 'control-label' %><br>
                     <%=f.select :scope, options_for_select(ChangeRequest::SCOPE, @change_request.scope), {:include_blank => true}, {class: 'form-control select2'} %>
                  </div><!--/field-->
              </div><!--/col-->
            </div><!--/box-body-->
          </div><!--box-->
        </div><!--/tab-pane-->
        <div class="tab-pane fade" id="design">
          <div class="box box-default">
            <div class="box-header with border"></div>
            <div class="box-body">
              <div class="col-md-6">
                <% if @change_request.errors.messages[:design] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :design, class: 'control-label' %><br>
                    <%= f.text_area :design, class: "form-control tinymce",style:"height:250px;"  %>
                  </div><!--/field-->
                <% if @change_request.errors.messages[:backup] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :backup, class: 'control-label'%><br>
                    <%= f.text_area :backup, class: "form-control tinymce" %>
                  </div><!--/field-->
              </div><!--/col-->
              <div class="col-md-6">
                <% if @change_request.errors.messages[:definition_of_success] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :definition_of_success, class: 'control-label' %><br>
                    <%= f.text_area :definition_of_success, class: "form-control tinymce" %>
                  </div><!--/field-->
                <% if @change_request.errors.messages[:definition_of_failed] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :definition_of_failure, class: 'control-label' %><br>
                    <%= f.text_area :definition_of_failed, class: "form-control tinymce" %>
                  </div><!--/filed-->
              </div><!--/col-->
            </div><!--/box-body-->
          </div><!--/box-->
        </div><!--/tab-pane-->
        <div class="tab-pane fade" id="testing">
          <div class="box box-default">
            <div class="box-header with border"></div>
            <div class="box-body">
              <div class="col-md-12">
                <% if @change_request.errors.messages[:testing_environment_available] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <label class="control-label">Testing in Test/Development Environment Available?</label>
                    <%= f.check_box :testing_environment_available, checked: @change_request.present? ? @change_request.testing_environment_available : false, data: {toggle: :toggle, on: "YES", off: "NO", onstyle: 'success', offstyle: 'danger'}%>
                  </div><!--/field-->
              </div> 
              <div class='col-md-6'>
                <% if @change_request.errors.messages[:testing_procedure] %>
                  <div class="field form-group has-error">
                <%else %>
                  <div class="field form-group required">
                <% end %>
                    <%= f.label :testing_procedure , class: 'control-label'%><br>
                    <%= f.text_area :testing_procedure, class: "form-control tinymce" %>
                  </div>
                  <div class="field form-group">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Tested by:</h4>
                      </div>
                      <div class="col-md-12">
                        <%= f.label :tested_by_dev, 'Developer' %>
                        <%= f.check_box :tested_by_dev %>
                      </div>
                      <div class="col-md-12">
                        <%= f.label :tested_by_qa, 'Quality Assurance' %>
                        <%= f.check_box :tested_by_qa %>
                      </div>
                      <div class="col-md-12">
                        <%= f.label :tested_by_dev_ops, 'DevOps' %>
                        <%= f.check_box :tested_by_dev_ops %>
                      </div>
                    </div>
                  </div>
              </div><!--/col-->
              <div class='col-md-6'>
                <h3>Tester</h3>
                <div id="testers">
                  <% if @change_request.errors.messages[:testers] %>
                    <div class="field form-group has-error">
                  <% else %>
                    <div class="field form-group required">
                  <% end %>
                  <!-- <div class="field form-group"> -->
                    <label class= "control-label">Testers</label><br>
                      <%= f.select :tester_ids, options_for_select(@users), {  }, { class: 'select2-tester form-control', style: 'width: 100%' , multiple:true } %>
                  </div><!--/field-->
                </div><!--/nested form for testers-->
              </div><!--/col-->
            </div><!--box-body-->
          </div><!--/box-->
        </div><!--/tab-pane-->
        <div class="tab-pane fade" id="implementation">
          <div class='row'>
            <div class='col-md-6'>
              <div class="box box-default">
                <div class="box-header with border"></div>
                <div class="box-body">
                    <% if @change_request.errors.messages[:schedule_change_date] %>
                      <div class="field form-group has-error">
                    <%else %>
                      <div class="field form-group required">
                    <% end %>
                        <%= f.label :schedule_change_date , class: 'control-label'%><br>
                        <%= f.datetime_select :schedule_change_date %>
                      </div><!--/field-->
                    <% if @change_request.errors.messages[:planned_completion] %>
                      <div class="field form-group has-error">
                    <%else %>
                      <div class="field form-group required">
                    <% end %>
                        <%= f.label :planned_completion , class: 'control-label'%><br>
                        <%= f.datetime_select :planned_completion, :default => Time.now %>
                      </div><!--/field-->
                    <div class="field form-group">
                      <%= f.label :implementation_notes %><br>
                      <%= f.text_area :implementation_notes, class: "form-control tinymce" %>
                    </div><!--/field-->
                </div><!--/box-body-->
              </div><!--/box-->
            </div><!--/col-->
            <div class='col-md-6'>
              <div class="box box-default">
                <div class="box-header with border"></div>
                <div class="box-body">
                  <div class="field form-group">
                    <%= f.label :grace_period_starts , class: 'control-label'%><br>
                    <%= f.datetime_select :grace_period_starts %>
                  </div><!--/field-->
                  <div class="field form-group">
                    <%= f.label :grace_period_end , class: 'control-label'%><br>
                    <%= f.datetime_select :grace_period_end%>
                  </div><!--/field-->
                  <div class="field form-group">
                    <%= f.label :grace_period_notes %><br>
                    <%= f.text_area :grace_period_notes, class: "form-control tinymce" %>
                  </div><!--/field-->
                </div><!--box-body-->
              </div><!--box-->
            </div><!--/col-->
          </div><!--/row-->
          <div class="box box-default">
            <div class="box-header with border">
              <h3 class='box-title'>Implementer</h3>
            </div>
            <div class='box-body'>
              <div id="implementers">
                <!-- <div class="field form-group"> -->
                <% if @change_request.errors.messages[:implementers] %>
                  <div class="field form-group has-error">
                <% else %>
                  <div class="field form-group required">
                <% end %>
                  <label class="control-label">Implementers</label><br>
                    <%= f.select :implementer_ids, options_for_select(@users), { }, { class: 'select2-implementer form-control', style: 'width: 100%;', multiple:true } %>
                </div><!--/field-->
              </div><!--implementers-->
            </div><!--/box-body-->
          </div>  <!--/box-->
        </div><!--/tab-pane-->
      </div><!--tab-content-->
      <br>

    </div><!--/col-->
  </div><!--/row-->
<% end %>

<%= tinymce %>

<script>
  $(document).ready(function () {
    $('body').attr("data-no-turbolink", "true");
    $('input[type="checkbox"].toggle').bootstrapToggle(); // assumes the checkboxes have the class "toggle"
    $('#save').click(function() {
      unsaved = false;
    });
    // Another way to bind the event
    $(window).bind('beforeunload', function() {
        if(unsaved){
            return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
        }
    });
    // Monitor dynamic inputs
    $(document).on('change', ':input', function(){ //triggers change in all input fields including text type
        unsaved = true;
    });

    $('.datetimepicker').on("dp.change", function(e) {
      unsaved = true;
    });
  });
  $(function(){
    var tags = []
    <% @current_tags.each do |tag| %>
      var p = '<%= tag %>';
      tags.push(p);
    <% end %>
    $(".select2-tag").val(tags);
    $(".select2-tag").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });

    var testers = []
    <% @current_testers.each do |tester| %>
      var p = '<%= tester %>';
      testers.push(p);
    <% end %>
    $(".select2-tester").val(testers);
    $(".select2-tester").select2({
      tokenSeparators: [',', ' ']
    });

    var implementers = []
    <% @current_implementers.each do |implementer| %>
      var p = '<%= implementer %>';
      implementers.push(p);
    <% end %>
    $(".select2-implementer").val(implementers);
    $(".select2-implementer").select2({
      tokenSeparators: [',', ' ']
    });

    var collaborators = []
    <% @current_collaborators.each do |collaborator| %>
      var p = '<%= collaborator %>';
      collaborators.push(p);
    <% end %>
    $(".select2-collaborate").val(collaborators);
    $(".select2-collaborate").select2({
      tokenSeparators: [',', ' ']
    });
    var approvers = []
    <% @current_approvers.each do |approver| %>
      var p = '<%= approver %>';
      approvers.push(p);
      approvers.push("woakwoakwa");
    <% end %>
    $(".select2-approve").val(approvers);
    $(".select2-approve").select2({
      tokenSeparators: [',', ' ']
    });
  });

</script>
