<% if flash[:alert] %>
    <div class="alert alert-danger">
    <%= flash[:alert] %>
    </div>
<% end %>


<div>
  <% @cr_statuses.each do |cr_status| %>
    <%= render 'status_button', status: cr_status.status %>
  <% end %>
  <% if (current_user.role =='release_manager'|| current_user.is_admin || current_user.is_associated?(@change_request)) %>
  <%= render 'next_actions' %>
  <% else %>
  <span>
    <button class="btn btn-primary btn-lg">Waiting for next action</button>
  </span>
  <% end %>
</div>


<% @change_request.next_states.each do |state| %>
<div class="modal fade" id="<%= state.to_s.humanize %>Modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@change_request_status, url: self.send("#{state.to_s}_path")) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title"><%= state.to_s.humanize %></h4>
        </div>
        <div class="modal-body">
          <div class="field form-group <%= @change_request.state_require_note?(state) ? 'required' : '' %>" id="reason-field-<%= state %>">
            <%= f.label :reason, class: 'control-label' %>
            <%= f.text_area :reason, class: 'form-control' %>
          </div>
          <% if state == :deploy %>
          <div class="field form-group">
            <%= f.check_box :deploy_delayed, class: 'control-label' %>
            <%= f.label :deploy_delayed, 'Deployment is delayed from the scheduled time', class: 'control-label' %>
          </div>
          <script type="text/javascript">
          $('#change_request_status_deploy_delayed').change(function(){
            if($(this).is(":checked")) $('#reason-field-<%= state %>').addClass('required');
            else $('#reason-field-<%= state %>').removeClass('required');
          });
          </script>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Update Change Request Status to #{state.to_s.humanize}", class: 'btn btn-default'%>
         </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>