<% require 'html_truncator' %>
<script type="text/javascript">
  function noenter() {
    var x = document.forms["search-form"]["search-box"].value;
    if (window.event.keyCode == 13){
      if (x == null || x == ""){
        return false;
      } else {
        return true;
      }
    }
  }
</script>
<section class="content-header">
  <h1>
    Change Requests
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary btn-flat pull-right dropdown-toggle dropdown-toggle-split dropdown-export-csv" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-collapse-down"> </span>
      </button>
      <div class="dropdown-menu">
        <%= link_to(change_requests_path(request.GET.merge({format: :csv})) , class: 'dropdown-item pull-left left-export-csv') do %>
           <i class="fa  fa-file-text"></i> <strong> Export all to csv </strong>
        <% end %>
        <% second_params = {format: :csv, page: params[:page].present? ? params[:page] : 1} %>
        <%= link_to(change_requests_path(request.GET.merge(second_params)) , class: 'dropdown-item pull-left left-export-csv') do %>
            <i class="fa  fa-file-text"></i> <strong> Export to csv </strong>
        <% end %>
      </div>
      <%= link_to(change_requests_path(request.GET.merge(second_params)) , class: 'btn btn-flat btn-primary pull-center') do %>
           <i class="fa  fa-file-text"></i> <strong>Export this page to csv</strong>
      <% end %>
    </div>
    <%= link_to  new_change_request_path, class: 'btn btn-flat btn-primary pull-right'  do %>
         <i class="fa fa-plus"></i> <strong>New Change Request</strong>
    <% end %>
    <a href="#" data-toggle="control-sidebar" class="btn btn-flat btn-primary pull-right" id='filter-button'><i class="fa fa-filter"></i><span><strong> Filter</strong></span></a>
  </h1>
</section>
<section class="content">
 <div class="row">
    <div class='col-lg-6'>
      <%if flash[:alert] != nil %>
        <div class="alert alert-danger alert-dismissable ">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>  <i class="icon fa fa-check"></i> Warning</h4>
          <p id="notice"><%= flash[:alert]  %></p>
        </div>
      <% end %>
      <%if flash[:notice] != nil %>
       <div class="alert alert-danger alert-dismissable ">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>  <i class="icon fa fa-check"></i> Success!</h4>
          <p id="notice"><%= flash[:notice]  %></p>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12">
      <div class="box box-default">
        <div class="box-header">
          <h3 class="box-title">Search Change Request</h3>
        </div><!--/box-header-->
        <div class="box-body">
          <%= form_tag search_change_requests_path, method: :get, id: 'search-form' do%>
              <div class="input-group">
                <span class="input-group-btn">
                  <button id="search-button" type="submit" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                </span>
                <%= text_field_tag :search, params[:search], class: 'form-control', autofocus: :autofocus, id: 'search-box', onkeypress: 'return noenter()'%>
              </div><!-- /input-group -->
          <% end %>
        </div><!-- /.box-body -->
      </div>
    </div>
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">
            <% case params[:type] %>
            <% when 'approval' %>
              Showing change requests that needs your approval
            <% when 'relevant' %>
              Showing change requests that is relevant to you
            <% else %>
              Showing all change requests
            <% end %>
          </h3>
          <hr>
          <div>
            <b>Quick filters:</b>
            <%= link_to "All", change_requests_path, class: 'btn-sm btn-primary' %>
            <% if current_user.is_approver? %>
              <%= link_to "Need my approvals", change_requests_path(type: 'approval'), class: 'btn-sm btn-primary' %>
            <% end %>
            <%= link_to "Relevant to me", change_requests_path(type: 'relevant'), class: 'btn-sm btn-primary' %>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive" style="overflow-x: auto; height: 60vh">
          <table class="table table-hover">
            <tr>
                <th>Request ID</th>
                <th>Change Summary</th>
                <th>Request Date</th>
                <th>Bussines Justification</th>
                <th>Priority</th>
                <th>Category</th>
                <th>Type</th>
                <th>Status</th>
                <th>Approvers</th>
                <th>Approve</th>
                <th>Reject</th>
                <th>Lifetime</th>
                <th colspan="3">Action</th>
                <th> </th>
            </tr>
            <% @change_requests.each do |change_request| %>
              <tr>
                <td><%= link_to change_request.id, change_request %></td>
                <td><%= link_to (raw change_request.change_summary), change_request, {class: 'cr-title-link'} %></td>

                <td><%=raw change_request.created_at.to_s(:long) %></td>
                <td><%=raw HTML_Truncator.truncate(change_request.business_justification, 10) %>
                <td><%=raw change_request.priority%></td>
                <td><%=raw change_request.all_category %></td>
                <td><%=raw change_request.all_type %></td>
                <td><%= change_request.aasm_state %></td>
                <td><%= change_request.approvals.count %></td>
                <td><%= change_request.approvers_count %></td>
                <td><%= change_request.rejects_count %></td>
                <td><%= change_request.lifetime %></td>
                <td>
                  <%= link_to change_request do %>
                    <i class='glyphicon glyphicon-eye-open'><span style='display: none'> Show </span></i>
                  <% end %>
                </td>
                <%if (current_user==change_request.user || current_user.is_admin || current_user.role=='release_manager' || current_user.collaborate_change_requests.include?(change_request) ) && (!change_request.closed?)%>
                <td>
                  <%= link_to edit_change_request_path(change_request) do %>
                    <i class='glyphicon glyphicon-edit'><span style='display: none'> Edit </span></i>
                  <% end %>
                </td>
                <% else %>
                <td></td>
                <% end %>
                <% if current_user==change_request.user || current_user.is_admin %>
                <td>
                  <%= link_to change_request, method: :delete, data: { confirm: 'Are you sure?' } do%>
                    <i class='glyphicon glyphicon-trash'><span style='display: none'> Delete </span></i>
                  <% end %>
                </td>
                <% else %>
                <td></td>
                <% end %>
                <td>
                  <%= link_to duplicate_path(change_request) do%>
                    <i class='glyphicon glyphicon-duplicate'><span style='display: none'> Duplicate </span></i>
                  <% end %>
                </td>
            </tr>
            <% end %>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <%= paginate @change_requests, :theme => 'twitter-bootstrap-3'%>
        </div>
      </div><!-- /.box -->
    </div>

</div>
 <aside class="control-sidebar control-sidebar-light" style="height: 100vh; overflow: hidden" id='sidebar-pane'>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <a href='#' data-toggle='control-sidebar'> <i class='glyphicon glyphicon-remove pull-right'></i> </a>
    <div class="tab-pane active" id="control-sidebar-home-tab">
      <h2 class="control-sidebar-heading">Filter</h2>
        <%= search_form_for @q do |f| %>
        <div id="overflow" style="display: block; height: 80vh; overflow-y: auto">
          <label>Change Request Category</label>
            <div class="form-group">
              Network Equipment
              <%= select :q, :category_network_equipment_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:category_network_equipment_true] : '' } %>

            </div>
            <div class="form-group">
              Application
              <%= select :q, :category_application_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:category_application_true] : '' } %>

            </div>
            <div class="form-group">
              Server
              <%= select :q, :category_server_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:category_server_true] : '' } %>

            </div>
            <div class="form-group">
              User Access
              <%= select :q, :category_user_access_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:category_user_access_true] : '' } %>
            </div>
            <div class="form-group">
              Other Category
              <%= f.search_field :category_other_cont, class: 'form-control'%>
            </div>
            <label>Change Request Type</label>
            <div class="form-group">
              Security Update
              <%= select :q, :type_security_update_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:type_security_update_true] : '' } %>

            </div>
            <div class="form-group">
              Application
              <%= select :q, :type_emergency_change_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:type_emergency_change_true] : '' } %>

            </div>
            <div class="form-group">
              Server
              <%= select :q, :type_configuration_change_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:type_configuration_change_true] : '' } %>

            </div>
            <div class="form-group">
              User Access
              <%= select :q, :type_install_uninstall_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:type_install_uninstall_true] : '' } %>
            </div>
            <div class="form-group">
              Other Type
              <%= f.search_field :type_other_cont, class: 'form-control'%>
            </div>

            <div class="form-group">
                <%= f.label :status %>
                <%= f.select :aasm_state_eq, options_for_select([['Any','']] + ChangeRequest::STATUS, params[:q]? params[:q][:aasm_state_eq] : 'Any' ), {}, {class: 'form-control select2'} %>
            </div>
            <div class="form-group">
              <%= f.label :priority %>
              <%= f.select :priority_eq, options_for_select([['Any','']] + ChangeRequest::PRIORITY, params[:q]? params[:q][:priority_eq] : 'Any' ), {}, {class: 'form-control select2'} %>
            </div>
             <div class="form-group">
              <%= f.label :scope %>
              <%= f.select :scope_eq, options_for_select([['Any','']] + ChangeRequest::SCOPE, params[:q]? params[:q][:scope_eq] : 'Any' ), {}, {class: 'form-control select2'} %>
            </div>
             <div class="form-group">
              <%= f.label :created_at_between %><br>
              from: <%= f.datetime_select :created_at_gteq, :include_blank => true, class: 'form-control' %><br>
              until: <%= f.datetime_select :created_at_lteq,:include_blank => true, class: 'form-control' %>
            </div>
             <div class="form-group">
              <%= f.label :schedule_change_date_between %><br>
              from: <%= f.datetime_select :schedule_change_date_gteq, :include_blank => true, class: 'form-control' %><br>
              until: <%= f.datetime_select :schedule_change_date_lteq,:include_blank => true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :planned_completion_between %><br>
              from: <%= f.datetime_select :planned_completion_gteq, :include_blank => true, class: 'form-control' %><br>
              until: <%= f.datetime_select :planned_completion_lteq,:include_blank => true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :tagged_with %>
              <%= select_tag "tag_list" ,options_for_select(@tags), class: 'select2-tag form-control', multiple:true %>
            </div>
          <br>
      </div><!-- /.overflow -->
        <%= f.submit class: 'btn btn-primary pull-left' %>
      <%end%>
      <%= search_form_for @q do |f| %>
       <%= f.submit 'Reset', class: 'btn btn-primary pull-right' %>
      <% end %>
    </div><!-- /.tab-pane -->
    <!-- Stats tab content -->
  </div>
</aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class='control-sidebar-bg'></div>

<script>
  var o = $.AdminLTE.options.controlSidebarOptions;
  var sidebar = $(o.selector);
  $(function() {
    $(".select2-tag").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
  })
  jQuery(function($){
    $('body').click(function(e){
      if (sidebar.hasClass('control-sidebar-open')){
        var clickedOn = $(e.target);
        if (!clickedOn.parents().andSelf().is('#sidebar-pane') && !clickedOn.parents().andSelf().is('#filter-button')){
          sidebar.removeClass('control-sidebar-open');
        }
      }
    });
  });
  $(document).ready (function(){
    $("#draft-alert").fadeTo(10000, 500).slideUp(500, function(){
      $("#draft-alert").slideUp(500);
    });
  });

</script>
