<% require "html_truncator" %>
<section class="content-header">
  <h1>
    Search Change Requests
    <%= link_to  new_change_request_path, class: 'btn btn-flat btn-primary pull-right'  do %>
         <i class="fa fa-plus"></i> <strong>New Change Request</strong>
    <% end %>
    </h1>
</section>
<section class="content">
 <div class="row">
    <div class="col-xs-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <%= form_tag search_change_requests_path, method: :get do%>
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                </span>
                <%= text_field_tag :search, params[:search], class: 'form-control', autofocus: :autofocus%>
              </div><!-- /input-group -->
          <% end %>
        </div><!--/box-header-->
        <div class="box-body">
          <%= @search.hits.count %> results found
          <ul class="products-list product-list-in-box">
            <% @search.each_hit_with_result do |hit, change_request| %>
            <li class="item">
                <%= link_to(change_request) do %>
                  <h4>
                    <b><%=raw change_request.change_summary %></b>
                    <span class="pull-right"><%=raw change_request.created_at.to_s(:long) %></span>
                  </h4>
                <% end %>
                <span>
                  <%= hit.highlight(nil).format do |match_words| %>
                    <%= content_tag(:b, match_words) %>
                  <% end %>
                </span>
            </li>
            <% end %>
            <!-- /.item -->
          </ul>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
             <!-- paginate @results, :theme => 'twitter-bootstrap-3' -->
        </div>
      </div>
    </div>
</div>
</section>
