<% require "html_truncator" %>
<section class="content-header">
  <h1>
    Change Requests
    <%= link_to  new_change_request_path, class: 'btn btn-flat btn-primary pull-right'  do %>
         <i class="fa fa-plus"></i> <strong>New Change Request</strong>
    <%end %>
     <a href="#" data-toggle="control-sidebar" class="btn btn-flat btn-primary pull-right"><i class="fa fa-filter"></i><span><strong> Filter</strong></span></a>
    </h1>
</section>
<section class="content">
 <div class="row">
    <div class="col-xs-12">
      <div class="box box-default">
        <div class="box-header">
          <h3 class="box-title">Search Change Request</h3>
        </div><!--/box-header-->
        <div class="box-body">
          <%= form_tag search_change_requests_path, method: :get do%>
              <%= text_field_tag :search, params[:search], class: 'form-control', autofocus: :autofocus%>
              <%= submit_tag nil, style: "visibility: hidden;"%>
          <% end %>
        </div><!-- /.box-body -->
      </div>
    </div>
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Change Request List</h3>

        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <tr>
                <th>Request ID</th>
                <th>Change Summary</th>
                <th>Request Date</th>
                <th>Bussines Justification</th>
                <th>Priority</th>
                <th>Category</th>
                <th>Type</th>
                <th>Status</th>
                <th>Approvers</th>
                <th>Approve</th>
                <th>Reject</th>
                <th>Lifetime</th>
                <th colspan="3">Action</th>
            </tr>
            <% @results.each do |change_request| %>
              <tr>
                <td><%= change_request.id %></td>
                <td><%=raw change_request.change_summary %></td>

                <td><%=raw change_request.created_at.to_s(:long) %></td>
                <td><%=raw HTML_Truncator.truncate(change_request.business_justification, 10) %>
                <td><%=raw change_request.priority%></td>
                <td><%=raw change_request.all_category %></td>
                <td><%=raw change_request.all_type %></td>
                <td><%= change_request.aasm_state %></td>
                <td><%= change_request.approvals.count %></td>
                <td><%= change_request.approvers_count %></td>
                <td><%= change_request.rejects_count %></td>
                <td><%= change_request.lifetime %></td>
                <td><%= link_to 'Show', change_request %></td>
                <%if (current_user==change_request.user || current_user.is_admin || current_user.role=='release_manager' || current_user.collaborate_change_requests.include?(change_request) ) && (!change_request.closed?)%>
                <td><%= link_to 'Edit', edit_change_request_path(change_request) %></td>
                <% else %>
                <td></td>
                <% end %>
                <% if current_user==change_request.user || current_user.is_admin %>
                <td><%= link_to 'Destroy', change_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else %>
                <td></td>
                <% end %>
            </tr>
            <% end %>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <%= paginate @results, :theme => 'twitter-bootstrap-3'%>
        </div>
      </div><!-- /.box -->
    </div>
</div>
</section>
