<section class="content-header">
  <h1>
  Change Request #<%= @change_request.id %>
    <% if !@change_request.reference_cr_id.nil? %>
      - Reference to <%= link_to "Change Request ##{@change_request.reference_cr_id}", ChangeRequest.find(@change_request.reference_cr_id)%>
    <% end %>
    <% if @change_request.aasm_state == "draft"%>
      <span class="label label-info">Draft</span>
     <% end %>
  </h1>
  <br>
  <span class='pull-left'>
    <% if ['rollbacked', 'failed'].include? @change_request.aasm_state %>
    <%= link_to 'Create Hotfix', create_hotfix_path(@change_request), :class => 'btn btn-danger btn-flat'  %>
    <% end %>
    <% if @change_request.editable?(current_user) %>
    <%= link_to 'Edit', edit_change_request_path, :class => 'btn btn-primary btn-flat'  %>
    <% end %>
    <%= link_to 'Duplicate', duplicate_path(@change_request), class: 'btn btn-primary btn-flat' %>
    <%= link_to  print_path, :class => 'btn btn-default btn-flat',data: { no_turbolink: true }, :target => "_blank" do %>
    <i class="fa fa-print"></i> Print
    <%end%>
  </span>

  <span class='pull-right'>
    <% if @change_request.previous_cr %>
      <%= link_to "< Previous", @change_request.previous_cr, class: "btn btn-flat btn-primary"%>
    <% end %>
    <%if @change_request.next_cr %>
      <%= link_to "Next >", @change_request.next_cr,  class: "btn btn-flat btn-primary" %>
    <%end%>
  </span>

</section><!--/content-header-->
<br><br>
<section class="content">
  <%if flash[:notice] != nil %>
    <div class="alert alert-warning alert-dismissable ">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>  <i class="icon fa fa-check"></i> Notice!</h4>
      <p id="notice"><%= flash[:notice]  %></p>
    </div><!--/alert-->
  <% end %>
  <%if flash[:success] != nil %>
    <div class="alert alert-success alert-dismissable ">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>  <i class="icon fa fa-check"></i> Success!</h4>
      <p id="notice"><%= flash[:success]  %></p>
    </div><!--/alert-->
  <% end %>
  <% if flash[:invalid] != nil %>
   <div class="alert alert-danger alert-dismissable ">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>  <i class="icon fa fa-warning"></i> Alert!</h4>
      <p id="notice">
          <ul>
          <% flash[:invalid].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
      </p>
    </div><!--/alert-->
  <% end %>
  <% if @change_request.has_approver?(current_user) %>
    <div class='approve-status form-group'>
      <% if @change_request.is_approved?(current_user).nil? %>
        <!-- Approve Button -->
        <button class="btn btn-success" data-toggle="modal" data-target="#accept">
          <i class="fa fa-check fa-fw"></i>Approve
        </button>
        <!-- Reject Button -->
        <button class="btn btn-danger" data-toggle="modal" data-target="#reject">
          <i class="fa fa-times fa-fw"></i>Reject
        </button>
      <% elsif @change_request.is_approved?(current_user) %>
        <div class="label label-primary"> Approved by you </div>
      <% else %>
        <div class="label label-primary"> Rejected by you </div>
      <% end %><!--/if approved-->
    </div><!--/approve-status-->
  <% end %><!--/current_user.role==approver-->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Change Request Lifeline: </h3>
    </div>
    <div class="box-body">
      <%= render 'status' %>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-xs-12'>
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Change Summary</h3>
        </div><!--/box-header-->
        <div class="box-body">
          <div class= 'form-group'>
          <%=raw @change_request.tag_list.map{ |tag| link_to tag, change_requests_path(tag_list: [tag]), class:'btn btn-primary btn-xs' }.join('     ')  %>
        </div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><strong>Requestor's name:</strong>
                  <%= @change_request.user.name %>
                </th>
                <th><strong>Request date:</strong>
                  <%= @change_request.created_at.to_s(:long) %>
                </th>
              </tr>
              <tr class = <%= @change_request.downtime_expected ? 'bg-danger' : 'bg-success' %>>
                <th colspan="2">
                  <div class="c1">
                    <h2><%= @change_request.change_summary %></h2>
                    <% if @change_request.downtime_expected %>
                    <span class='pull-right bg-danger'> Downtime of <b><%= @change_request.expected_downtime_in_minutes %> minutes</b> may be required</span>
                    <% end %>
                  </div>
                </th>
              </tr>
            </thead>
          </table>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Priority</th>
                <th>Category</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @change_request.priority %></td>
                <td><%= @change_request.all_category %></td>
                <td><%= @change_request.all_type %></td>
              </tr>
            </tbody>
          </table>
          <h5>Change Requirement</h5>
          <div class="well well-sm">
            <%=raw @change_request.change_requirement%>
          </div><!--/well-->
          <h5>Business Justification</h5>
          <div class="well well-sm">
            <%=raw @change_request.business_justification %>
          </div><!--/well-->
          <h5>Requestor</h5>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @change_request.user.name %></td>
                  <td><%= @change_request.requestor_position %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
          <h5>Notes</h5>
          <div class="well well-sm">
            <%=raw @change_request.note %>
          </div>
        </div><!--/box-body-->
      </div><!--/box-->

      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Dependencies</h3>
        </div>
        <div class='box-body'>
          <h5>Database</h5>
          <div class="well well-sm">
            <%=raw @change_request.db %>
          </div><!--/well-->
          <h5>Network</h5>
          <div class="well well-sm">
            <%=raw @change_request.net %>
          </div><!--/well-->
          <h5>Operating System</h5>
          <div class="well well-sm">
            <%=raw @change_request.os %>
          </div><!--/well-->
          <h5>Other</h5>
          <div class="well well-sm">
            <%=raw @change_request.other_dependency %>
          </div><!--/well-->
        </div>
      </div>
      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Analysis Solution Impact</h3>
          <div class='box-body'>
            <h5>Analysis</h5>
            <div class="well well-sm">
              <%=raw @change_request.analysis %>
            </div>
            <h5>Solution</h5>
            <div class="well well-sm">
              <%=raw @change_request.solution %>
            </div>
            <h5>Impact</h5>
            <div class="well well-sm">
              <%=raw @change_request.impact %>
            </div>
            <strong>Scope:</strong> <%= @change_request.scope %>
          </div><!--/box-body-->
        </div><!--/box-header-->
      </div><!--/box-->


    </div><!--/col-->

    <div class="col-lg-6 col-xs-12">
      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Design and Backup Plan </h3>
        </div>
        <div class='box-body'>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Design:</strong></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><%=raw @change_request.design %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Backup:</strong></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><%=raw @change_request.backup %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Definition of success:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.definition_of_success %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Definition of failure:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.definition_of_failed %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
        </div><!--/box-body-->
      </div><!--/box-->
      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Testing</h3>
        </div><!--/box-header-->
        <div class='box-body'>
          <p><strong>Testing environment available:</strong>
          <%= @change_request.testing_environment_available %></p>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Testing Procedure:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.testing_procedure %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>position</th>
                </tr>
              </thead>
              <tbody>
                <% @change_request.testers.each do |tes| %>
                  <tr>
                    <td><%= tes.name %></td>
                    <td><%= tes.position %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!--/table-responsive-->

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Testing Notes:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.testing_notes %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
        </div><!--/box-body-->
      </div><!--box-->

      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Approval</h3>
        </div><!--/box-header-->
        <div class='box-body'>
          <h5>Approval:</h5>
          <p>After viewing the testing procedures and confirmed the testing result are
          positive, this CR has been confirmed appropiate to be deployed in production by
          :</p>

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Status </th>
                </tr>
              </thead>
              <tbody>
                <% @change_request.approvals.each do |app| %>
                <tr>
                  <td><%= app.user.name %></td>
                  <td><%= app.user.position %></td>
                  <td>
                    <%if app.approve %>
                      <% if app.approval_date %>
                        <a id="popoverOption" class="btn" href="#" data-content="<%= app.notes %>" rel="popover" data-placement="bottom" data-original-title="Accept Note" style='padding:0px'>Approved on <%= app.approval_date.to_s(:long) %></a>
                      <% else %>
                        <a id="popoverOption" class="btn" href="#" data-content="<%= app.notes %>" rel="popover" data-placement="bottom" data-original-title="Accept Note" style='padding:0px'>Approved</a>
                      <% end %>
                    <% elsif app.approve.nil? %>
                      Waiting for approval
                    <%elsif app.approve == false %>
                       <a id="popoverOption" class="btn" href="#" data-content="<%= app.notes %>" rel="popover" data-placement="bottom" data-original-title="Reject Reason" style='padding:0px'>Rejected</a>
                    <%end %>
                  </td>
                </tr>
                <%end %>
              </tbody>
            </table>
          </div><!--/table-responsive-->
        </div><!--box-body-->
      </div><!--box-->

      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Implementation</h3>
        </div><!--box-header-->
        <div class='box-body'>
          <h3>Implementation</h3>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th colspan="3">Schedule</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Schedule Change</strong></td>
                  <% if @change_request.schedule_change_date != nil %>
                    <td colspan="2"><%= @change_request.schedule_change_date.to_s(:long) %></td>
                  <% end%>
                </tr>
                <tr>
                  <td><strong>Planned Completion</strong></td>
                  <% if @change_request.planned_completion != nil %>
                    <td colspan="2"><%= @change_request.planned_completion.to_s(:long)%></td>
                  <% end %>
                </tr>

                <tr>
                  <td><strong>Grace Period Starts</strong></td>
                  <% if @change_request.grace_period_starts != nil %>
                    <td colspan="2"><%= @change_request.grace_period_starts.to_s(:long) %></td>
                  <% end %>
                </tr>

                <tr>
                  <td><strong>Grace Period Ends</strong></td>
                  <% if @change_request.grace_period_end != nil %>
                    <td colspan="2"><%= @change_request.grace_period_end.to_s(:long) %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div><!--table-respomsive-->

          <h5>Implementer</h5>

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>position</th>
                </tr>
              </thead>
              <tbody>
                <% @change_request.implementers.each do |imp| %>
                  <tr>
                    <td><%= imp.name %></td>
                    <td><%= imp.position %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!--table-responsive-->

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Implementer Notes:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.implementation_notes %></td>
                </tr>
              </tbody>
            </table>
          </div><!--table-resposive-->

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Grace Notes:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.grace_period_notes %></td>
                </tr>
              </tbody>
            </table>
          </div><!--table-responsive -->
        </div><!--box-body-->
      </div><!--box-->
    </div><!--col-->
  </div><!--row-->
  <div class='row'>

  </div>
  <div class='row'>
    <div class='col-lg-6 col-xs-12'>
      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-comments fa-fw"></i>
          Comments
        </div><!--box-header-->
        <div class="box-body">
          <ul class="list-unstyled">
            <% @change_request.comments.each do |c| %>
              <li class="left clearfix">
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font"><%= c.user.name %></strong>
                    <small class="pull-right text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> <%= c.created_at.to_s(:long) %>
                    </small>
                  </div><!--/header-->
                  <% params_comment = {change_request_id: @change_request.id, comment_id: c.id} %>
                  <% is_author = current_user && current_user.id == c.user_id %>
                  <% if c.hide %>
                    <p id="p-comment-<%= c.id %>" class="hidden comment"><%= c.body %></p>
                    <p id="p-show-comment-<%= c.id %>" class="show-comment" data-comment-id="<%= c.id %>" onclick="show_comment(this)">Show the content</p>
                    <% if is_author %>
                      <%= link_to 'Unhide Comment', change_request_comment_hide_path(params_comment.merge({type: 'unhide'})), method: :post, remote: true, class: 'hide-unhide-comment', id: 'hide-unhide-comment-'+c.id.to_s %>
                    <% end %>
                  <% else %>
                    <p id="p-comment-<%= c.id %>" class="comment"><%= c.body %></p>
                    <p id="p-show-comment-<%= c.id %>" class="show-comment hidden" data-comment-id="<%= c.id %>" onclick="show_comment(this)">Show the content</p>
                    <%= link_to 'Hide', change_request_comment_hide_path(params_comment.merge({type: 'hide'})), method: :post, remote: true, class: 'hide-unhide-comment', id: 'hide-unhide-comment-'+c.id.to_s %>
                  <% end %>
                </div><!--/chat-->
              </li>
              <hr>
           <% end %>
          </ul>

        </div><!--/box-body-->
        <div class="box-footer">
            <div class="form-group">
              <%= form_for ([@change_request, @change_request.comments.build]) do |f| %>
                <%= f.text_area :body, class:"form-control", id: "comment" %>
                <br>
                <span class="input-group-btn">
                  <%= f.submit class:"btn btn-primary btn-flat"%>
                </span>
              <% end %><!--/form-->
            </div><!--/form-group-->
        </div><!--/box-footer-->
      </div><!--/box-->
    </div><!--/col-->
    <%if !@hotfixes.empty? %>
    <div class='col-lg-6 col-xs-12'>
      <div class="box box-default">
        <div class='box-header with-border'>
          <h3 class='box-title'>Hotfixes</h3>
        </div><!--box-header-->
        <div class="box-body">
          Below are the change requests that fixes this change request after being rollbacked
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>ID </th>
                  <th>Change Summary </th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% @hotfixes.each do |hotfix| %>
                  <tr>
                    <td><%= link_to hotfix.id, hotfix %></td>
                    <td><%= hotfix.change_summary %></td>
                    <td><%= hotfix.created_at %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!--/box-body-->
      </div><!--/box-->
    </div><!--/col-->
    <% end %>
    <div class="col-lg-6 col-xs-12">
      <%= render 'version', document: @change_request %>
    </div><!--/col-->
  </div><!--/row-->

</section><!--/content-->
<!-- modal for accept notes -->
<div class="modal fade" id="accept" tabindex="-1" role="dialog" aria-labelledby="ScheduleModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
      <div class="modal-content">
        <%= form_tag(approve_path) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Accept Change Request </h4>
        </div>
        <div class="modal-body">
          <%= label_tag 'notes' %>
          <%= text_area_tag 'notes',nil, class: 'form-control'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
          <%= submit_tag 'Accept', class: "btn btn-success btn-flat" %>
        </div>

        <%end %>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- modal for reject reason -->
<div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="ScheduleModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
      <div class="modal-content">
        <%= form_tag(reject_path) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Reject Change Request </h4>
        </div>
        <div class="modal-body">
          <%= label_tag 'notes' %>
          <%= text_area_tag 'notes',nil, class: 'form-control'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
          <%= submit_tag 'Reject', class: "btn btn-danger btn-flat" %>
        </div>

        <%end %>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
$('#popoverData').popover();
$('#popoverOption').popover({ trigger: "hover" });
</script>

<script>
  var users = <%= raw @usernames %> ;
  $('#comment').atwho({at:"@", 'data':users})

</script>
