
<section class="content-header">
  <h1>
  Change Request #<%= @change_request.id %>  
    <% if @change_request.aasm_state == 'cancelled' || @change_request.aasm_state == 'rollbacked' || @change_request.aasm_state == 'rejected' %>
      <div class= "pull-right label label-danger" >
    <% elsif @change_request.aasm_state == 'deployed' %>
      <div class= "pull-right label label-success" >
    <% else %>
      <div class= "pull-right label  label-primary" >
    <% end %>
      <%=@change_request.aasm_state%>
      </div><!--/label-->
  </h1>
  <br>
  <% if current_user.role == 'release_manager' || current_user.is_admin || @change_request.user == current_user ||  current_user.collaborate_change_requests.include?(@change_request)%>
  <%= link_to 'Edit', edit_change_request_path, :class => 'btn btn-primary btn-flat'  %>
  <% end %>
  <%= link_to  print_path, :class => 'btn btn-default btn-flat',data: { no_turbolink: true }, :target => "_blank" do %>
  <i class="fa fa-print"></i> Print
  <%end%>
</section><!--/content-header-->
<section class="content">
  <%if flash[:create_cr_notice] != nil %>
    <div class="alert alert-success alert-dismissable ">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>  <i class="icon fa fa-check"></i> Success!</h4>
      <p id="notice"><%= flash[:create_cr_notice]  %></p>
    </div><!--/alert-->
  <% end %>
   <%if flash[:reject_reason_notice] != nil %>
   <div class="alert alert-warning alert-dismissable ">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>  <i class="icon fa fa-warning"></i> Alert!</h4>
      <p id="notice"><%= flash[:reject_reason_notice]  %></p>
    </div><!--/alert-->
  <% end %>
  <%if flash[:update_cr_notice] != nil %>
    <div class="alert alert-success alert-dismissable ">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>  <i class="icon fa fa-check"></i> Success!</h4>
      <p id="notice"><%= flash[:update_cr_notice]  %></p>
    </div><!--/alert-->
  <% end %>
  <%if flash[:status_changed_notice] != nil %>
   <div class="alert alert-success alert-dismissable ">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>  <i class="icon fa fa-check"></i> Success!</h4>
      <p id="notice"><%= flash[:status_changed_notice]  %></p>
    </div><!--/alert-->
  <% end %>
  <%if flash[:not_eligible_notice] != nil %>
    <div class="alert alert-warning alert-dismissable ">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>  <i class="icon fa fa-warning"></i> Alert!</h4>
      <p id="notice"><%= flash[:not_eligible_notice]  %></p>
    </div><!--/alert-->
  <% end %>
  <% if current_user.role=='approver' %>
    <div class='approve-status form-group'>
      <% if @approved == nil %>
        <%= link_to  approve_path(@change_request.id), data: { method: :put, confirm: 'Are you sure you want to approve this Change Request?' }, class: 'btn btn-success'  do %>
          <i class="fa fa-check fa-fw"></i>Approve
        <%end %><!--/link_to approve--> 
        <button class="btn btn-danger" data-toggle="modal" data-target="#reject">
          <i class="fa fa-times fa-fw"></i>Reject
        </button> 
      <% elsif @approved %>
        <div class="label label-primary"> Approved by you </div>
      <% else %>
        <div class="label label-primary"> Rejected by you </div>
      <% end %><!--/if approved-->
    </div><!--/approve-status-->
  <% end %><!--/current_user.role==approver-->
  <% if !@change_request.closed? && (current_user.role =='release_manager'|| current_user.is_admin)%>
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Actions</h3>
      </div>
      <div class="box-body">
        <%= render 'status' %>
      </div>
    </div>
  <% end %><!--/release_manager action-->
  <div class='row'>
    <div class='col-lg-6 col-xs-12'>        
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Change Summary</h3>
        </div><!--/box-header-->
        <div class="box-body">
          <div class= 'form-group'>
          <%=raw @change_request.tag_list.map{ |t| link_to t, tag_path(t), class:'btn btn-primary btn-xs' }.join('     ')  %>
        </div>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><strong>Requestor's name:</strong>
                  <%= @change_request.requestor_name %>
                </th>
                <th><strong>Request date:</strong>
                  <%= @change_request.created_at.to_s(:long) %>
                </th>
              </tr>
              <tr>
                <th colspan="2">
                  <div class="c1">
                    <h2><%= @change_request.change_summary %></h2>
                  </div>
                </th>
              </tr>
            </thead>
          </table>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Priority</th>
                <th>Category</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @change_request.priority %></td>
                <td><%= @change_request.all_category %></td>
                <td><%= @change_request.all_type %></td>
              </tr>
            </tbody>
          </table>
          <h5>Change Requirement</h5>
          <div class="well well-sm">
            <%=raw @change_request.change_requirement%>
          </div><!--/well-->
          <h5>Bussines Justification</h5>
          <div class="well well-sm">
            <%=raw @change_request.business_justification %>
          </div><!--/well-->
          <h5>Requestor</h5>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @change_request.requestor_name %></td>
                  <td><%= @change_request.requestor_position %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
          <h5>Notes</h5>
          <div class="well well-sm">
            <%=raw @change_request.note %>
          </div>
        </div><!--/box-body-->
      </div><!--/box-->

      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Dependencies</h3>
        </div>
        <div class='box-body'>
          <h5>Database</h5>
          <div class="well well-sm">
            <%=raw @change_request.db %>
          </div><!--/well-->
          <h5>Network</h5>
          <div class="well well-sm">
            <%=raw @change_request.net %>
          </div><!--/well-->
          <h5>Operating System</h5>
          <div class="well well-sm">
            <%=raw @change_request.os %>
          </div><!--/well-->
          <h5>Other</h5>
          <div class="well well-sm">
            <%=raw @change_request.other_dependency %>
          </div><!--/well-->
        </div>
      </div>
      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Analysis Solution Impact</h3>
          <div class='box-body'>
            <h5>Analysis</h5>
            <div class="well well-sm">
              <%=raw @change_request.analysis %>
            </div>
            <h5>Solution</h5>
            <div class="well well-sm">
              <%=raw @change_request.solution %>
            </div>
            <h5>Impact</h5>
            <div class="well well-sm">
              <%=raw @change_request.impact %>
            </div>
            <strong>Scope:</strong> <%= @change_request.scope %>
          </div><!--/box-body-->
        </div><!--/box-header-->
      </div><!--/box-->

      
    </div><!--/col-->

    <div class="col-lg-6 col-xs-12">
      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Design and Backup Plan </h3>
        </div>
        <div class='box-body'>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Design:</strong></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><%=raw @change_request.design %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Backup:</strong></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><%=raw @change_request.backup %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Definition of success:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.definition_of_success %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Definition of failure:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.definition_of_failed %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
        </div><!--/box-body-->
      </div><!--/box-->
      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Testing</h3>
        </div><!--/box-header-->
        <div class='box-body'>
          <p><strong>Testing environment available:</strong>
          <%= @change_request.testing_environment_available %></p>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Testing Procedure:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.testing_procedure %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>position</th>
                </tr>
              </thead>
              <tbody>
                <% @change_request.testers.each do |tes| %>
                  <tr>
                    <td><%= tes.name %></td>
                    <td><%= tes.position %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!--/table-responsive-->

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Testing Notes:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.testing_notes %></td>
                </tr>
              </tbody>
            </table>
          </div><!--/table-responsive-->
        </div><!--/box-body-->
      </div><!--box-->

      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Approval</h3>
        </div><!--/box-header-->
        <div class='box-body'>
          <h5>Approval:</h5>
          <p>After viewing the testing procedures and confirmed the testing result are
          positive, this CR has been confirmed appropiate to be deployed in production by
          :</p>

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Status </th>
                </tr>
              </thead>
              <tbody>
                <% @change_request.approvers.each do |app| %>
                <tr>
                  <td><%= app.user.name %></td>
                  <td><%= app.user.position %></td>
                  <td>
                    <%if  app.approve == nil  %>
                      waiting for approval
                    <%elsif app.approve %>
                      approved
                    <%else%>
                       <a id="popoverOption" class="btn" href="#" data-content="<%= app.reject_reason%>" rel="popover" data-placement="bottom" data-original-title="Reject Reason" style='padding:0px'>Rejected</a>
                    <%end %>
                  </td>
                </tr>
                <%end %>
              </tbody>
            </table>
          </div><!--/table-responsive-->
        </div><!--box-body-->
      </div><!--box-->

      <div class='box box-default'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Implementation</h3>
        </div><!--box-header-->
        <div class='box-body'>
          <h3>Implementation</h3>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th colspan="3">Schedule</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Schedule Change</strong></td>
                  <% if @change_request.schedule_change_date != nil %>
                    <td colspan="2"><%= @change_request.schedule_change_date.to_s(:long) %></td>
                  <% end%>
                </tr>
                <tr>
                  <td><strong>Planned Complation</strong></td>
                  <% if @change_request.planned_completion != nil %>
                    <td colspan="2"><%= @change_request.planned_completion.to_s(:long)%></td>
                  <% end %>
                </tr>

                <tr>
                  <td><strong>Grace Period Starts</strong></td>
                  <% if @change_request.grace_period_starts != nil %>
                    <td colspan="2"><%= @change_request.grace_period_starts.to_s(:long) %></td>
                  <% end %>
                </tr>

                <tr>
                  <td><strong>Grace Preiod Ends</strong></td>
                  <% if @change_request.grace_period_end != nil %>
                    <td colspan="2"><%= @change_request.grace_period_end.to_s(:long) %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div><!--table-respomsive-->

          <h5>Implementer</h5>

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>position</th>
                </tr>
              </thead>
              <tbody>
                <% @change_request.implementers.each do |imp| %>
                  <tr>
                    <td><%= imp.name %></td>
                    <td><%= imp.position %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!--table-responsive-->

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Implementer Notes:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.implementation_notes %></td>
                </tr>
              </tbody>
            </table>
          </div><!--table-resposive-->

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th><strong>Grace Notes:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=raw @change_request.grace_period_notes %></td>
                </tr>
              </tbody>
            </table>
          </div><!--table-responsive -->
        </div><!--box-body-->
      </div><!--box-->
    </div><!--col-->  
  </div><!--row-->

  <div class='row'>
    <div class='col-lg-6 col-xs-12'>
      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-comments fa-fw"></i>
          Comments
        </div><!--box-header-->
        <div class="box-body">
          <ul class="list-unstyled">
            <% @change_request.comments.each do |c| %>
              <li class="left clearfix">
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font"><%= c.user.name %></strong>
                    <small class="pull-right text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> <%= c.created_at.to_s(:long) %>
                    </small>
                  </div><!--/header-->
                  <p>
                     <%= c.body %>
                  </p>
                </div><!--/chat-->
              </li>
           <% end %>
          </ul>

        </div><!--/box-body-->
        <div class="box-footer">
            <div class="form-group">              
              <%= form_for ([@change_request, @change_request.comments.build]) do |f| %>
                <%= f.text_area :body, class:"form-control" %>
                <br>
                <span class="input-group-btn">
                  <%= f.submit class:"btn btn-primary btn-flat"%>
                </span>
              <% end %><!--/form-->
            </div><!--/form-group-->
        </div><!--/box-footer-->
      </div><!--/box-->
    </div><!--/col-->
    <div class="col-lg-6 col-xs-12">      
      <%= render 'version', document: @change_request %>
    </div><!--/col-->
  </div><!--/row-->
</section><!--/content-->
<div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="ScheduleModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
      <div class="modal-content">
        <%= form_tag(reject_path) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Reject Change Request </h4>
        </div>
        <div class="modal-body">
          <%= text_field_tag 'reject_reason',nil, class: 'form-control'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
          <%= submit_tag 'Reject', class: "btn btn-danger btn-flat" %>
        </div>
        
        <%end %>  
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
$('#popoverData').popover();
$('#popoverOption').popover({ trigger: "hover" });
</script>