<!DOCTYPE html>
<html>
<body>
<h1>Vision
</h1>
<p>
Your Change Request has been <%= @state %><br>
Change Request Summary: <%= @summary %><br>
Deploy Date: <%= @deploy %><br>
<% if @reason != nil %>
Reason : <%= @reason %> <br>
<% end %>
Change Request URL : <%= @url %>

</p>
</body>
</html>