<div class="panel-body">
  <ul class="chat">
   <% if access_request_comment.user != current_user %>
      <li class="left clearfix">
        <span class="chat-img pull-left">
          <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <strong class="primary-font">Jack Sparrow</strong>
            <small class="pull-right text-muted">
              <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
            </small>
          </div>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
          </p>
        </div>
      </li>

      <li class="right clearfix">
        <span class="chat-img pull-right">
            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <small class=" text-muted">
              <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
            <strong class="pull-right primary-font">Bhaumik Patel</strong>
          </div>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
          </p>
        </div>
      </li>
   <% end %>
  </ul>
</div>
<p>
  <strong>Body:</strong>
  <%= @access_request_comment.body %>
</p>

<p>
  <strong>Change request:</strong>
  <%= @access_request_comment.access_request %>
</p>

<p>
  <strong>User:</strong>
  <%= @access_request_comment.user %>
</p>

<%= link_to 'Edit', edit_access_request_comment_path(@access_request_comment) %> |
<%= link_to 'Back', access_request_comments_path %>
