<script>
    tinymce.remove();
    function eventHandler(inst) {
        unsaved = true;
    };
</script>
<%= form_for(@incident_report) do |f| %>

<div class="col-lg-6 col-xs-12 col-md-12">
  <% if @incident_report.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <ul>
      <% @incident_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='box'>
    <div class='box-header with-border'>
        <h3 class='box-title'>Incident Report</h3>
    </div>
    <div class='box-body table-responsive'>

        <div class="field form-group required">
          <label class="control-label">Entity Sources</label><br>
          <%= f.select :entity_source, options_for_select((EntitySourceModule::ENTITY_SOURCES + [@incident_report.entity_source]).uniq.compact, @incident_report.entity_source), {:include_blank => true}, { class: 'select2 form-control'} %>
        </div><!--/field-->

        <div class="field form-group">
          <label>Collaborators</label><br>
          <%= f.select :collaborator_ids ,options_for_select(@users), {}, { class: 'select2-collaborate form-control', multiple:true }%>
        </div><!--/field-->

        <div class="field form-group">
          <label>Tag</label><br>
            <%= f.select :tag_list, options_for_select(@tags), {}, { class: 'select2-tag form-control', multiple:'multiple'} %>
        </div><!--/field-->
        <div class="form-group">
          <% if @incident_report.errors.messages[:service_impact] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :service_impacted %><br>
          <%= f.text_field :service_impact, class: 'form-control' %>
        </div>
        </div>
        <div class="form-group">
          <div class="field form-group">
            <%= f.label 'expected ?' %> <%= f.check_box :expected %>
          </div>
        </div>
        <div class="form-group"><div class="field">
          <%= f.label :problem_details %><br>
          <%= f.text_area :problem_details, class: 'form-control tinymce' %>
        </div>
        </div>
        <div class="form-group">
          <% if @incident_report.errors.messages[:how_detected] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :how_was_the_problem_detected_? %><br>
          <%= f.text_field :how_detected, class: 'form-control' %>
        </div>
        </div>
        <div class="form-group">
         <% if @incident_report.errors.messages[:occurrence_time] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :occurrence_time %><br>
          <%= f.datetime_select :occurrence_time, :include_blank => true,class: 'form-control' %>
        </div>
        </div>
        <div class="form-group">
         <% if @incident_report.errors.messages[:detection_time] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :detection_time %><br>
          <%= f.datetime_select :detection_time, :include_blank => true,class: 'form-control' %>
        </div>
        </div>
        <div class="form-group">
          <% if @incident_report.errors.messages[:acknowledge_time] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :acknowledge_time %><br>
          <%= f.datetime_select :acknowledge_time, :include_blank => true,class: 'form-control' %>
        </div>
        </div>
        <div class="form-group">
          <% if @incident_report.errors.messages[:resolution_time] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :resolved_time %><br>
          <%= f.datetime_select :resolved_time, :include_blank => true,class: 'form-control' %>
        </div>
        </div>
        <div class="form-group">
          <% if @incident_report.errors.messages[:source] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :source %><br>
          <%=f.select :source, options_for_select(IncidentReport::SOURCE, @incident_report.source), {include_blank: true}, { class: 'form-control select2'} %>
        </div>
        </div>
        <div class="form-group">
          <% if @incident_report.errors.messages[:rank] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <a style="cursor: pointer;" id="rank-button"><%= f.label :rank %> <i class="glyphicon glyphicon-question-sign"></i></a><br>
          <%= f.number_field :rank, in:1..5, class: 'form-control' %>
        </div>
        </div>
        <div class="form-group">
          <% if @incident_report.errors.messages[:loss_related] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :loss_related_to_the_issue %><br>
          <%= f.text_field :loss_related, class: 'form-control' %>
        </div>
        </div>
        <div class="form-group">
          <% if @incident_report.errors.messages[:recurrence_concern] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :concern_of_recurrence %><br>
           <%=f.select :recurrence_concern, options_for_select(IncidentReport::RECURRENCE_CONCERN, @incident_report.recurrence_concern), {include_blank: true}, {class: 'form-control select2'} %>
        </div>
        </div>
        <div class="form-group">
          <% if @incident_report.errors.messages[:measurer_status] %>
            <div class="field form-group has-error">
            <%else %>
            <div class="field form-group">
            <% end %>
          <%= f.label :status_of_the_measurer %><br>
           <%=f.select :measurer_status, options_for_select(IncidentReport::MEASURER_STATUS, @incident_report.measurer_status), {include_blank: true}, {class: 'form-control select2'} %>
        </div>
        </div>
      </div>
  </div>
</div>
<!-- /.col-xs-12 -->
<div class="col-lg-6 col-xs-12 col-md-12">
  <div class='box'>
    <div class='box-header with-border'>
        <h3 class='box-title'>Incident Detail</h3>
    </div>
    <div class='box-body table-responsive'>
      <div class="form-group">
        <% if @incident_report.errors.messages[:occurred_reason] %>
          <div class="field form-group has-error">
          <%else %>
          <div class="field form-group">
          <% end %>
        <%= f.label :why_did_it_occured_? %><br>
        <%= f.text_area :occurred_reason, class: 'form-control tinymce'%>
        </div>
      </div>
      <div class="form-group">
        <% if @incident_report.errors.messages[:overlooked_reason] %>
          <div class="field form-group has-error">
          <%else %>
          <div class="field form-group">
          <% end %>
        <%= f.label :why_was_it_overlooked_? %><br>
        <%= f.text_area :overlooked_reason, class: 'form-control tinymce'%>
        </div>
      </div>
      <div class="form-group">
        <% if @incident_report.errors.messages[:recovery_action] %>
          <div class="field form-group has-error">
          <%else %>
          <div class="field form-group">
          <% end %>
        <%= f.label :action_for_recovery %><br>
        <%= f.text_area :recovery_action, class: 'form-control tinymce'%>
        </div>
      </div>
      <div class="form-group">
        <% if @incident_report.errors.messages[:prevent_action] %>
          <div class="field form-group has-error">
          <%else %>
          <div class="field form-group">
          <% end %>
        <%= f.label :to_prevent_recurrence %><br>
        <%= f.text_area :prevent_action, class: 'form-control tinymce'%>
        </div>
      </div>
    </div>
  </div>
  <div class='box'>
    <div class='box-header with-border'>
        <h3 class='box-title'>Further Action</h3>
    </div>
    <div class='box-body table-responsive'>
      <div class="form-group">
        <div class="field form-group <%= @incident_report.errors.messages[:has_further_action] ? 'has-error' : '' %>">
          <%= f.check_box :has_further_action %>
          <%= f.label :has_further_action %>
        </div>
        <div class="field form-group field-action <%= @incident_report.errors.messages[:action_item] ? 'has-error' : '' %>">
          <%= f.label :action_item %><br>
          <%= f.text_area :action_item, class: 'form-control tinymce'%>
        </div>
        <div class="field form-group field-action <%= @incident_report.errors.messages[:action_item_status] ? 'has-error' : '' %>">
          <%= f.label :action_item_status %><br>
          <%=f.select :action_item_status, options_for_select(IncidentReport::ACTION_ITEM_STATUS, @incident_report.action_item_status), {include_blank: false}, {class: 'form-control select2'} %>
        </div>
      </div>
    </div>
  </div>

  <% unless @incident_report.new_record? %>
  <div class='box'>
    <div class='box-header with-border'>
        <h3 class='box-title'>Reason</h3>
    </div>
    <div class='box-body table-responsive'>
      <div class="form-group">
        <div class="field form-group <%= @incident_report.errors.messages[:reason] ? 'has-error' : '' %>">
        <%= f.label :update_reason %><br>
        <%= f.text_area :reason, class: 'form-control'%>
        </div>
      </div>
    </div>
  </div>
  <%end%>

  <div class='box'>
    <div class='box-body table-responsive'>
      <div class="actions">
        <%= f.submit class:"btn btn-flat btn-primary", :id => 'save' %>
      </div>
    </div>
  </div>

</div>
<!-- /.col-xs-12 -->



<% end %>

<%= tinymce %>

<script>
  $(document).ready(function () {
    $('body').attr("data-no-turbolink", "true");

    $('#save').click(function() {
      unsaved = false;
    });
    // Another way to bind the event
    $(window).bind('beforeunload', function() {
        if(unsaved){
            return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
        }
    });
    // Monitor dynamic inputs
    $(document).on('change', ':input', function(){ //triggers change in all input fields including text type
        unsaved = true;
    });

    $('.datetimepicker').on("dp.change", function(e) {
      unsaved = true;
    });

    $('#rank-button').click(function(){
      $('#rank-modal').modal('show');
    });

    $('#rank-modal').on('shown.bs.modal',function(){
      $(this).find('iframe#guideline').attr('src','https://drive.google.com/file/d/1T7oWoAG2AFRLvp0LY28QMrvcqohUXRkb/preview')
    });

    function onHasFurtherActionChange(){
      if($('#incident_report_has_further_action').is(":checked")) $('.field-action').show();
      else $('.field-action').hide();
    }
    onHasFurtherActionChange();

    $('#incident_report_has_further_action').change(onHasFurtherActionChange);
  });
  $(function(){
    var tags = []
    <% @current_tags.each do |tag| %>
      var p = '<%= tag %>';
      tags.push(p);
    <% end %>
    $(".select2-tag").val(tags);
    $(".select2-tag").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });

    var collaborators = []
    <% @incident_report.collaborators.each do |collaborator| %>
      collaborators.push('<%= collaborator.id %>');
    <% end %>
    $(".select2-collaborate").val(collaborators);
    $(".select2-collaborate").select2({
      tokenSeparators: [',', ' ']
    });
  });

</script>
