<script type="text/javascript">
$(function(){
  $('.datetimepicker').datetimepicker({
    format: "yyyy-mm-dd"
  });
});
 </script>
 <section class="content-header">
  <h1>
    Incident Report
    <%= link_to  new_incident_report_path, class: 'btn btn-flat btn-primary pull-right'  do %>
         <i class="fa fa-plus"></i> <strong>New Incident Report</strong>
    <%end %>
    <a href="#" data-toggle="control-sidebar" class="btn btn-flat btn-primary pull-right" id='filter-button'><i class="fa fa-filter"></i><span><strong> Filter</strong></span></a>
    </h1>
</section>
<section class="content">
    <div class="row">
      <div class='col-lg-6'>
        <%if flash[:danger] != nil %>
        <div class="alert alert-danger alert-dismissable ">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>  <i class="icon fa fa-check"></i> Success!</h4>
          <p id="notice"><%= flash[:danger]  %></p>
        </div>
        <% end %>
      </div>
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Incident Report List</h3>
            </div><!-- /.box-header -->
          <div class="box-body table-responsive" style="overflow-x: auto; height: 70vh">
            <table class="table table-hover">
              <tr>
                   <th>Report ID</th>
                    <th>Service impacted</th>
                    <th>Problem details</th>
                    <th>How was the problem detected</th>
                    <th>Current Status</th>
                    <th><%= sort_link(@q, :occurrence_time) %></th>
                    <th><%= sort_link(@q, :detection_time) %></th>
                    <th><%= sort_link(@q, :recovery_time) %></th>
                    <th><%= sort_link(@q, :resolved_time) %></th>
                    <th>Recovery duration(minutes)</th>
                    <th>Resolution duration(minutes)</th>
                    <th>Source</th>
                    <th><%= sort_link(@q, :rank) %></th>
                    <th>Reported by</th>
                    <th>last edited</th>
                    <th colspan="3">Actions</th>

              </tr>
              <% @incident_reports.each do |incident_report| %>
                  <tr>
                      <td><%= link_to incident_report.id, incident_report %></td>
                      <td><%= link_to incident_report.service_impact, incident_report %></td>
                      <td><%= link_to (raw incident_report.problem_details), incident_report, class: 'black-color' %></td>
                      <td><%= incident_report.how_detected %></td>
                      <td><%= incident_report.current_status %></td>
                      <td><%= incident_report.occurrence_time.to_s(:long) %></td>
                      <td><%= incident_report.detection_time.to_s(:long) %></td>
                      <td><%= incident_report.recovery_time.blank? ? "-" : incident_report.recovery_time.to_s(:long)  %></td>

                       <td> <%= incident_report.resolved_time.blank? ? "-" : incident_report.resolved_time.to_s(:long)  %> </td>
                      <td><%= incident_report.recovery_duration.blank? ? "-" : incident_report.recovery_duration %> </td>
                      <td><%= incident_report.resolution_duration.blank? ? "-" : incident_report.resolution_duration %> </td>
                      <td><%= incident_report.source %></td>
                      <td><%= incident_report.rank %></td>
                      <td><%= incident_report.user.name %></td>
                      <td><%= incident_report.updated_at.to_s(:long) %></td>
                      <td><%= link_to '', incident_report, class: 'glyphicon glyphicon-eye-open' %></td>
                      <%if current_user==incident_report.user || current_user.is_admin %>
                      <td><%= link_to '', edit_incident_report_path(incident_report), class: 'glyphicon glyphicon-edit'  %></td>
                      <td><%= link_to '', incident_report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %></td>
                      <% else %>
                      <td></td>
                      <td></td>
                      <% end %>
                    </tr>

                  <% end %>
              </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                <%= paginate @incident_reports, :theme => 'twitter-bootstrap-3'%>
                 <%= link_to 'See Deleted Documents', deleted_incident_reports_path %>
            </div>
          </div><!-- /.box -->
        </div>
    </div>
</section>
 <aside class="control-sidebar control-sidebar-light" style="height: 100vh; overflow: hidden" id='sidebar-pane'>
        <!-- Create the tabs -->
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <a href='#' data-toggle='control-sidebar'> <i class='glyphicon glyphicon-remove pull-right'></i> </a>
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Filter</h3>
         <%= search_form_for @q do |f| %>
          <div id="overflow" style="display: block; height: 80vh; overflow-y: auto">
              <div class="form-group">
              <%= f.label :service_impact %>
              <%= f.search_field :service_impact_cont, class: 'form-control'%>
            </div>
            <div class="form-group">
              <%= f.label :problem_details %>
              <%= f.search_field :problem_details_cont, class: 'form-control' %>
              </div>
               <div class="form-group">
              <%= f.label :problem_detection %>
              <%= f.search_field :how_detected_cont, class: 'form-control' %>
              </div>
              <div class="form-group">
              <%= f.label :reported_by %>
              <%= f.search_field :user_name_cont, class: 'form-control' %>
              </div>
              <div class="form-group">
              <%= f.label :detection_time_between %><br>
              from: <%= f.datetime_select :detection_time_gteq, :include_blank => true, class: 'form-control' %><br>
              until: <%= f.datetime_select :detection_time_lteq,:include_blank => true, class: 'form-control' %>
              </div>
              <div class="form-group">
              <%= f.label :occurrence_time_between %><br>
              from: <%= f.datetime_select :occurrence_time_gteq, :include_blank => true, class: 'form-control' %><br>
              until: <%= f.datetime_select :occurrence_time_lteq,:include_blank => true, class: 'form-control' %>
              </div>
              <div class="form-group">
              <%= f.label :recovery_time_between %><br>
              from: <%= f.datetime_select :recovery_time_gteq, :include_blank => true, class: 'form-control' %><br>
              until: <%= f.datetime_select :recovery_time_lteq, :include_blank => true,class: 'form-control' %>
              </div>
              <div class="form-group">
            <%= f.label :rank %><br>
            <%= f.number_field :rank_eq, class: 'form-control' %>


              </div>
              <div class="form-group">
              <%= f.label :source %>
              <%= f.select :source_eq, options_for_select([['Any','']] + IncidentReport::SOURCE ), {}, {class: 'form-control select2'} %>
              </div>
              <div class="form-group">
              <%= f.label :current_status%>
              <%= f.select :current_status_eq, options_for_select([['Any','']] + IncidentReport::CURRENT_STATUS), {}, {class: 'form-control select2'} %>
              </div>
              <div class="form-group">
                <%= f.label :tagged_with %>
                <%= select_tag "tag_list" ,options_for_select(@tags), class: 'select2-tag form-control', multiple:true %>
              </div>
          </div><!-- /.overflow -->
            <%= f.submit class: 'btn btn-primary pull-left' %>
          <% end %>
          <%= search_form_for @q do |f| %>
           <%= f.submit 'Reset', class: 'btn btn-primary pull-right' %>
          <% end %>
        </div><!-- /.tab-pane -->
      <!-- Stats tab content -->
    </div>
</aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
<div class='control-sidebar-bg'></div>

<script>
  var o = $.AdminLTE.options.controlSidebarOptions;
  var sidebar = $(o.selector);
  $(function() {
    $(".select2-tag").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
  });
  jQuery(function($){
    $('body').click(function(e){
      if (sidebar.hasClass('control-sidebar-open')){
        var clickedOn = $(e.target);
        if (!clickedOn.parents().andSelf().is('#sidebar-pane') && !clickedOn.parents().andSelf().is('#filter-button')){
          sidebar.removeClass('control-sidebar-open');
        }
      }
    });
  });

</script>
