<% require "html_truncator" %>
<script type="text/javascript">
  function noenter() {
    var x = document.forms["search-form"]["search-box"].value;
    if (window.event.keyCode == 13){
      if (x == null || x == ""){
        return false;
      } else {
        return true;
      }
    }
  }
</script>
<section class="content-header">
  <h1>
    Search Incident Reports
    <%= button_tag class: 'btn btn-flat btn-primary pull-right dropdown-toggle', id: 'dropdownMenuDownload', data: { toggle: 'dropdown' }, aria: { hashpopup: true, expanded: true }  do %>
        <i class="fa  fa-file-text"></i> <strong>Export to CSV</strong> <span class="caret"></span>
    <%end %>
    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenuDownload">
      <li><%= link_to 'Current page IR', search_incident_reports_path(request.GET.merge({format: :csv, page: params[:page] || 1, per_page: (params[:per_page] || 10) })) %></li>
      <li><%= link_to 'All IR', search_incident_reports_path(request.GET.merge({ format: :csv })) %></li>
    </ul>
    <%= link_to  new_incident_report_path, class: 'btn btn-flat btn-primary pull-right'  do %>
         <i class="fa fa-plus"></i> <strong>New Incident Report</strong>
    <% end %>
    </h1>
</section>
<section class="content">
 <div class="row">
    <div class="col-xs-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <%= form_tag search_change_requests_path, method: :get, id: 'search-form'  do%>
              <div class="input-group">
                <span class="input-group-btn">
                  <button id="search-button" type="submit" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                </span>
                <%= text_field_tag :search, params[:search], class: 'form-control', autofocus: :autofocus, id: 'search-box', onkeypress: 'return noenter()'%>
              </div><!-- /input-group -->
          <% end %>
        </div><!--/box-header-->
        <div class="box-body">
          <span><%= "Page #{params[:page]} of " if params[:page] %><%= @search.total %> results found</span>
          <ul class="products-list product-list-in-box">
            <% @search.hits.each do |hit| %>
            <li class="item">
                <%= link_to({controller: 'incident_reports', action: 'show', id: hit.primary_key}) do %>
                  <h4>
                    <b><%=raw hit.stored(:service_impacted).first %></b>
                    <span class="pull-right"><%=raw hit.stored(:created_at).to_s(:long) %></span>
                  </h4>
                <% end %>
                <span>
                  <%= sanitize(hit.highlight(nil).format{|match_words| content_tag(:b, match_words, class: "keywords-search")}, attributes: ['class']) %>
                </span>
            </li>
            <% end %>
            <!-- /.item -->
          </ul>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
             <%= paginate @search.hits, :theme => 'twitter-bootstrap-3' %>
        </div>
      </div>
    </div>
</div>
</section>
