<section class="content-header">
  <h1>Notifications</h1>
</section>
<section class="content">
 <div class="row">
    <div class="col-xs-12">
      <div class="box box-default" style='height: 85vh'>
        <div class='row'>
          <div class='col-lg-6'>
            <ul class="nav nav-pills">
              <% if @active == 'cr' %>
              <li class="active"><a data-toggle="pill" href="#change_request">Change Requests</a></li>
              <li><a data-toggle="pill" href="#incident_report">Incident Report</a></li>
              <% else %>
              <li><a data-toggle="pill" href="#change_request">Change Requests</a></li>
              <li class="active"><a data-toggle="pill" href="#incident_report">Incident Report</a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="box-body" style=' overflow-y: auto; overflow-x: hidden'>
          <div class='tab-content'>
            <div id='change_request' class='tab-pane fade in <%= 'active' if @active == 'cr' %>'>
              <div class='row'>
                <% if @have_cr_notif %>
                <div class='col-sm-12'>
                  <ul class='nav nav-tabs'>
                    <% if @new_cr.count > 0 %>
                    <li class='<%= 'active' if @tabactive[0]%>'> <a href='#new_cr' data-toggle="tab"> New
                      <span class="label label-success"> <%= @new_cr.count%></span>
                    </a></li>
                    <% end %>
                    <% if @update_cr.count > 0 %>
                    <li class='<%= 'active' if @tabactive[1]%>'> <a href='#update_cr' data-toggle="tab"> Updated
                      <span class="label label-success"><%= @update_cr.count%></span>
                    </a></li>
                    <% end %>
                    <% if @approved.count > 0 %>
                    <li class='<%= 'active' if @tabactive[2]%>'> <a href='#cr_approved' data-toggle="tab">Approved
                      <span class="label label-success"><%= @approved.count%></span>
                    </a></li>
                    <% end %>
                    <% if @rejected.count > 0 %>
                    <li class='<%= 'active' if @tabactive[3]%>'> <a href='#cr_rejected' data-toggle="tab">Rejected
                      <span class="label label-success"><%= @rejected.count%></span>
                    </a></li>
                    <% end %>
                    <% if @final_rejected.count > 0 %>
                    <li class='<%= 'active' if @tabactive[4]%>'> <a href='#cr_final_rejected' data-toggle="tab">Final Rejected
                      <span class="label label-success"><%= @final_rejected.count%></span>
                    </a></li>
                    <% end %>
                      <% if @cancelled.count > 0 %>
                    <li class='<%= 'active' if @tabactive[5]%>'> <a href='#cr_cancelled' data-toggle="tab">Cancelled
                      <span class="label label-success"><%= @cancelled.count%></span>
                    </a></li>
                    <% end %>
                    <% if @scheduled.count > 0 %>
                    <li class='<%= 'active' if @tabactive[6]%>'> <a href='#cr_scheduled' data-toggle="tab">Scheduled
                      <span class="label label-success"><%= @scheduled.count%></span>
                    </a></li>
                    <% end %>
                    <% if @deployed.count > 0 %>
                    <li class='<%= 'active' if @tabactive[7]%>'> <a href='#cr_deployed' data-toggle="tab">Deployed
                      <span class="label label-success"><%= @deployed.count%></span>
                    </a></li>
                    <% end %>
                    <% if @closed.count > 0 %>
                    <li class='<%= 'active' if @tabactive[8]%>'> <a href='#cr_closed' data-toggle="tab">Closed
                      <span class="label label-success"><%= @closed.count%></span>
                    </a></li>
                    <% end %>
                    <% if @rollbacked.count > 0 %>
                    <li class='<%= 'active' if @tabactive[9]%>'> <a href='#cr_rollbacked' data-toggle="tab">Rollbacked
                      <span class="label label-success"><%= @rollbacked.count%></span>
                    </a></li>
                    <% end %>
                    <% if @comment.count > 0 %>
                    <li class='<%= 'active' if @tabactive[10]%>'> <a href='#comment_cr' data-toggle="tab">Comments
                      <span class="label label-success"><%= @comment.count%></span>
                    </a></li>
                    <% end %>
                  </ul>
                </div>
                <div class='tab-content'>
                  <div id='new_cr' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[0]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @new_cr.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='update_cr' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[1]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @update_cr.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='cr_approved' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[2]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @approved.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='cr_rejected' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[3]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @rejected.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='cr_final_rejected' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[4]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @final_rejected.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='cr_cancelled' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[5]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @cancelled.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='cr_scheduled' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[6]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @scheduled.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='cr_deployed' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[7]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @deployed.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='cr_closed' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[8]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @closed.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='cr_rollbacked' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[9]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @rollbacked.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='comment_cr' class='tab-pane fade in col-sm-12 <%='active' if @tabactive[10]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Change Summary </th>
                        <th> Requestor </th>
                        <th> Time created </th>
                      </tr>
                      <% @comment.each do |n_cr| %>
                        <tr>
                          <td> <%= link_to n_cr.change_request.id, n_cr.change_request %> </td>
                          <td> <%= link_to n_cr.change_request.change_summary, n_cr.change_request %></td>
                          <td> <%= n_cr.change_request.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_cr.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
                <% else %>
                <div class='col-sm-12'>
                  <div class='container'>
                    <div class='text-center'>
                      <h1> Nothing to display here! </h1>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>

            <div id='incident_report'  class='tab-pane fade in <%= 'active' if @active != 'cr' %>'>
              <div class='row'>
                <% if @have_ir_notif %>
                <div class='col-sm-12'>
                  <ul class='nav nav-tabs'>
                    <% if @new_ir.count > 0 %>
                    <li class='<%='active' if @iractive[0]%>'> <a href='#new_ir' data-toggle="tab"> New
                      <span class="label label-success"> <%= @new_ir.count%></span>
                    </a></li>
                    <% end %>
                    <% if @resolved_ir.count > 0 %>
                    <li class='<%='active' if @iractive[1]%>'> <a href='#resolved_ir' data-toggle="tab"> Resolved
                      <span class="label label-success"> <%= @resolved_ir.count%></span>
                    </a></li>
                    <% end %>
                  </ul>
                </div>
                <div class='tab-content'>
                  <div id='new_ir' class='tab-pane fade in col-sm-12 <%='active' if @iractive[0]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Service Impacted </th>
                        <th> Reporter </th>
                        <th> Time created </th>
                      </tr>
                      <% @new_ir.each do |n_ir| %>
                        <tr>
                          <td> <%= link_to n_ir.incident_report.id, n_ir.incident_report %> </td>
                          <td> <%= link_to n_ir.incident_report.service_impact, n_ir.incident_report %></td>
                          <td> <%= n_ir.incident_report.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_ir.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                  <div id='resolved_ir' class='tab-pane fade in col-sm-12 <%='active' if @iractive[1]%>'>
                    <table class="table table-hover">
                      <tr>
                        <th> ID </th>
                        <th> Service Impacted </th>
                        <th> Reporter </th>
                        <th> Time created </th>
                      </tr>
                      <% @resolved_ir.each do |n_ir| %>
                        <tr>
                          <td> <%= link_to n_ir.incident_report.id, n_ir.incident_report %> </td>
                          <td> <%= link_to n_ir.incident_report.service_impact, n_ir.incident_report %></td>
                          <td> <%= n_ir.incident_report.user.name %> </td>
                          <td> <%= distance_of_time_in_words(n_ir.created_at, Time.now) %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
                <% else %>
                <div class='col-sm-12'>
                  <div class='container'>
                    <div class='text-center'>
                      <h1> Nothing to display here! </h1>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div><!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
