
<%= form_for @user  do |f| %>
<% if flash[:registered_succesfully] != nil %>
    <div class="alert alert-success">
        <%= flash[:registered_succesfully] %>
    </div>
<% end %>
<% if @user.errors.size > 0 %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",  class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",  class: 'form-control' %>
  </div>

  
  <div class="field">
    <%=f.label :role %><br />
    <%=f.select :role, options_for_select(User::ROLES), {}, {class: 'form-control'} %><br/>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary'%>
  </div>
<% end %>
