
<%= form_for @user  do |f| %>
  <% if flash[:registered_succesfully] != nil %>
    <div class="alert alert-success">
      <%= flash[:registered_succesfully] %>
    </div>
  <% end %>
  <% if @user.errors.size > 0 %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%=f.label :role %><br />
    <%=f.select :role, options_for_select(User::ROLES,@user.role), {}, {class: 'form-control'} %><br/>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-primary'%>
  </div>
<% end %>
