

<% if flash[:registered_succesfully] != nil %>
    <div class="alert alert-success">
      <%= flash[:registered_succesfully] %>
    </div>
  <% end %>
  <% if @user.errors.size > 0 %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- form start -->
  <%= form_for @user do |f| %>
    <div class="box-body">
      <div class="form-group">
       <label>Role</label>
        <%=f.select :role, options_for_select(User::ROLES,@user.role), {}, {class: 'form-control select2'} %>
      </div>
      <div class="form-group">
         <label>Position</label>
          <%=f.text_field :position,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= select_tag(:is_admin, options_for_select([['Admin',true], ['User',false]], selected: @user.is_admin), {class: 'form-control select2'}) %>
        
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <%= f.submit "Submit", class: 'btn btn-flat btn-primary pull-right'%>
    </div><!-- /.box-footer -->
  <% end %>


