 <section class="content-header">
  <h1>
    User
  </h1>
</section>
<section class="content">
 <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">User List</h3>
          <div class="box-tools">
            <%= search_form_for @q, html: {class: "form-inline"} do |f| %>
                <div class="input-group" style='min-width:150px'>
                    <span class="input-group-addon">Role </span>
                    <%= f.select :role_cont, options_for_select([['Any','']] + User::ROLES), {}, {class: 'form-control select2', style: 'display:none'}%>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Name </span>
                    <%= f.search_field :name_cont, class: 'form-control' %>
                </div>
                
                <%= f.submit class: 'btn btn-flat btn-default pull-right'%>
            <% end %>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <tr>
                <th><%= sort_link(@q, :name) %></th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            <% @users.each do |user| %> 
            <tr>
                <td><%= user.name %></td>
                <td><%= user.role%></td>
                <td>
                <% if user != current_user && admin? %>
                    <%= link_to user, data: { method: :delete, confirm: 'Are you sure you want to delete this user?' }, class: 'btn btn-danger' do %>
                        <i class="fa fa-times fa-fw"></i>Delete
                    <%end%>
                    <% if user.account_active? %>
                        <%= link_to  lock_user_path(user.id), data: { method: :put, confirm: 'Are you sure you want to lock this user?' }, class: 'btn btn-warning'  do %>
                             <i class="fa fa-lock fa-fw"></i>Lock 
                        <%end %> 
                    <% else %>
                        <%= link_to unlock_user_path(user.id), data: { method: :put, confirm: 'Are you sure you want to unlock this user?' }, class: 'btn btn-success'  do %> 
                            <i class="fa fa-unlock fa-fw"></i>Unlock
                        <%end%>
                    <% end %>
                <%end%>
                <%= link_to edit_path(user), class: 'btn btn-primary' do %>
                    <i class="fa fa-pencil-square-o fa-fw"></i> Edit
                <%end%>
               </td>
            <% end %>
            </tr>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <%= paginate @users, :theme => 'twitter-bootstrap-3'%>
        </div>
      </div><!-- /.box -->
    </div>
</div>



