<!-- header menu -->
<header class="main-header">
  <!-- Logo -->
  <a href="<%= root_path %>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>V</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>V</b>ision</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class='dropdown user user-menu'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class='hidden-xs'><%= current_user.name %></span>
          </a>
          <ul class='dropdown-menu'>
            <li class="user-header">
              <p>
                <%= current_user.name %>
                <small><%= current_user.role %></small>
              </p>
            </li>
            <li class='user-footer'>
              <div class="pull-right">
                <%= link_to destroy_user_session_path, :method => :delete, class: "btn btn-default btn-flat" do  %>
                  <i class="fa fa-sign-out"></i> <span>Sign Out</span>
                <% end -%>  
              </div>
            </li>
          </ul>
        </li>
      <% if current_page?(incident_reports_path)|| current_page?(change_requests_path) %>
        <li> <a href="#" data-toggle="control-sidebar"><i class="fa fa-filter"></i><span><strong> Filter</strong></span></a></li>
        <% end %>
        
      </ul>
    </div>
  </nav>
</header>
<!-- right side menu for filter -->

<!-- sidebar menu -->
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <% if current_user.is_admin || current_user.role=='release_manager' %>
      <li>
        <%= link_to users_path do %>
          <i class="fa fa-user"></i><span> Users </span>
        <% end %>
      </li>
      <li>
        <%= link_to cabs_url do %>
          <i class="fa fa-users"></i> <span>CAB</span>
        <% end %>
      </li>
      <%end%>
      <li>
        <%= link_to incident_reports_url do %>
          <i class="fa fa-exclamation-triangle"></i><span>Incident Reports</span>
        <% end %>
      </li>
      <li>
        <%= link_to change_requests_url do %>
          <i class="fa fa-pencil-square-o"></i> <span>Change Requests</span>
        <% end %>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>