<section class='content-header'>
    <h1>Dashboard</h1>

</section>
<section class='content'>
  <div class='row'>
    <div class='col-lg-6'>
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a data-toggle="pill" href="#incident_report">Incident Report</a></li>
        <li role="presentation"><a data-toggle="pill" href="#change_request">Change Request</a></li>
      </ul>
    </div>
  </div>
  <div class='tab-content'>
    <div id='incident_report' class='tab-pane fade in active'>
      <div class='row'>
        <div class='col-lg-6'>
          <div class='box '>
            <div class='box-header with-border'>
              <h3 class='box-title'>Source</h3>
            </div>
            <div class='box-body'>
              <div class='row'>
                <div class='col-lg-12'>
                  <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default" id='source_week_button'>This Week</button>
                    <button type="button" class="btn btn-default" id='source_month_button'>This Month</button>
                    <button id="daterange" class="selectbox pull-right btn btn-default">
                      <i class="fa fa-calendar"></i>
                      <span>Custom Range</span> <b class="caret"></b>
                    </button>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-lg-12'>
                  <div id="source-chart" width="300" height="300"></div>
                  <div id="chartdiv"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-6'>
          <div class='box '>
            <div class='box-header with-border'>
              <h3 class='box-title'>Average Time</h3>
              <div class='box-tools'>

              <!--   <button id='reset'>reset</button> -->
              </div>
             </div>
            <div class='box-body'>
              <div class='row'>
                <div class='col-lg-12'>
                  <div class="btn-group pull-right">
                    <div class='input-group date col-lg-2 col-md-2 col-xs-2 pull-right'  id='selected_month'>
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar">
                          </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-lg-12'>
                  <div id="average-chart" width="300" height="300"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-6'>
          <div class='box'>
            <div class='box-header with-border'>
              <h3 class='box-title'>Incident Number</h3>
            </div>
            <div class='box-body'>
              <div class='row'>
                <div class='col-lg-12'>
                   <div class='input-group date col-lg-2 col-md-2 col-xs-2 pull-right'  id='number_chart_selected_month'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-lg-12'>
                  <div id='number-chart' width='300' height='300'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-6'>
          <div class='box '>
            <div class='box-header with-border'>
              <h3 class='box-title'>Internal vs External</h3>
              <div class='box-tools'>

              <!--   <button id='reset'>reset</button> -->
              </div>
             </div>
            <div class='box-body'>
              <div class='row'>
                <div class='col-lg-12'>
                  <div class="btn-group pull-right">
                    <div class='input-group date col-lg-2 col-md-2 col-xs-2 pull-right'  id='internal_external_month'>

                      <span class="input-group-addon">
                          Ends by:
                      </span>
                      <input type='text' class="form-control" style="min-width: 80px" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar">
                          </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-lg-12'>
                  <div id="internal-external-chart" width="300" height="300"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='change_request' class='tab-pane fade'>
      <div class='row'>
        <div class='col-lg-6'>
          <div class='box'>
            <div class='box-header with-border'>
              <h3 class='box-title'>Change Request Deployment</h3>
            </div>
            <div class='box-body'>
              <div class='row'>
                <div class='col-lg-12'>
                   <div class='pull-right'>
                    <select class="form-control deployment-duration-filter">
                      <option value="weekly">Per Week</option>
                      <option value="monthly">Per Month</option>
                    </select>
                    <%= select_tag "tag_list" ,options_for_select(@tags), class: 'deployment-tag-filter form-control', multiple:true %>
                    <button id="daterange2" class="selectbox btn btn-default">
                      <i class="fa fa-calendar"></i>
                      <span>Custom Range</span> <b class="caret"></b>
                    </button>
                    <button type="button" class="btn btn-default" id='apply_button'>Apply</button>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-lg-12'>
                  <div id='deployment-chart' width='300' height='300'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  #source-chart {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
}
#average-chart {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
}
#number-chart {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
}
#deployment-chart {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
}
#internal-external-chart {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
}
.deployment-tag-filter {
  width : 300px;
}
</style>
<script>
  function loadSourceChart(url) {
    $.get(url, function(data, status){
      var pieData = jQuery.parseJSON(data)
      var chart = AmCharts.makeChart( "source-chart", {
        "titles": [
            {
              "text": pieData[0].title,
              "size": 15
            }
          ],
        "type": "pie",
        "theme": "light",
        "dataProvider": pieData[1],
        "titleField": "title",
        "valueField": "value",
        "labelRadius": 5,

        "radius": "42%",
        "innerRadius": "60%",
        "labelText": "[[title]]",
        "export": {
          "enabled": true
        },
        "startEffect": "easeOutSine",
        "sequencedAnimation": false,
        "startDuration": 0.5
      });
      if(pieData[1][0].value === 0 && pieData[1][1].value === 0)
          chart.addLabel(0, '50%', 'There are no incident reports in the specfied periods','center');
    });
  };

  function loadAverageChart(url) {
    $.get(url, function(data, status){
      var barChartData = jQuery.parseJSON(data);
      var chart = AmCharts.makeChart("average-chart", {
         "titles": [
            {
              "text": barChartData[0].title,
              "size": 15
            }
          ],
          "type": "serial",
             "theme": "light",
          "categoryField": "label",
          "startDuration": 1,
          "categoryAxis": {
            "gridPosition": "start",
            "position": "left"
          },
          "trendLines": [],
          "graphs": [
            {
          "balloonText": "Recovery duration: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "recovery_duration"
        } ,{
          "balloonText": "Resolution duration: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "resolution_duration"
        }],
        "guides": [],
        "valueAxes": [
          {
            "id": "ValueAxis-1",
          }
        ],
        "allLabels": [],
        "balloon": {},
        "dataProvider": barChartData[1],
        "export": {
          "enabled": true
        }
      });
      isEmpty = true;
      for (bar of barChartData[1]) {
        isEmpty = isEmpty && bar.recovery_duration == 0 && bar.resolution_duration == 0;
      }
      if(isEmpty)
        chart.addLabel(0, '50%', 'There are no incident reports in the specfied periods','center');
    });
  };

  function loadInternalExternalChart(url) {
    $.get(url, function(data, status){
      var barChartData = jQuery.parseJSON(data);
      var chart = AmCharts.makeChart("internal-external-chart", {
         "titles": [
            {
              "text": barChartData[0].title,
              "size": 15
            }
          ],
          "type": "serial",
             "theme": "light",
          "categoryField": "label",
          "startDuration": 1,
          "categoryAxis": {
            "gridPosition": "start",
            "position": "left"
          },
          "trendLines": [],
          "graphs": [
            {
          "balloonText": "Internal: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "total_internal"
        } ,{
          "balloonText": "External: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "total_external"
        }],
        "guides": [],
        "valueAxes": [
          {
            "id": "ValueAxis-1",
          }
        ],
        "allLabels": [],
        "balloon": {},
        "dataProvider": barChartData[1],
        "export": {
          "enabled": true
        }
      });
      isEmpty = true;
      for (bar of barChartData[1]) {
        isEmpty = isEmpty && bar.recovery_duration == 0 && bar.resolution_duration == 0;
      }
      if(isEmpty)
        chart.addLabel(0, '50%', 'There are no incident reports in the specfied periods','center');
    });
  };

  function loadNumberChart(url) {
    $.get(url, function(data, status){
      var numberBarData = jQuery.parseJSON(data);
      var chart = AmCharts.makeChart("number-chart", {
        "titles": [
          {
            "text": numberBarData[0].title,
            "size": 15
          }
        ],
        "startDuration": 1.5,
        "type": "serial",
        "theme": "light",
        "categoryField": "label",
        "categoryAxis": {
          "gridPosition": "start",
          "position": "left"
        },
        "trendLines": [],
        "graphs": [
          {
          "balloonText": "Incident Occured: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "occured_number"
        } ,{
          "balloonText": "Incident Recovered: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "recovered_number"
        } ,{
          "balloonText": "Incident Resolved: <b>[[value]]</b>",
          "fillAlphas": 0.8,
          "lineAlpha": 0.2,
          "type": "column",
          "valueField": "resolved_number"
        }],
        "guides": [],
        "valueAxes": [
          {
            "id": "ValueAxis-1",
          }
        ],
        "allLabels": [],
        "balloon": {},
        "dataProvider": numberBarData[1],
          "export": {
            "enabled": true
           }
      });
      isEmpty = true;
      for (bar of numberBarData[1]) {
        isEmpty = isEmpty && bar.occured_number == 0 && bar.recovered_number == 0 && bar.resolved_number == 0;
      }
      if(isEmpty)
        chart.addLabel(0, '50%', 'There are no incident reports in the specfied periods','center');
    });
  };

  function loadDeploymentChart(url) {
    $.get(url, function(data, status){
      var stackChartData = jQuery.parseJSON(data);
      var chart = AmCharts.makeChart("deployment-chart", {
        "titles": [
            {
              "text": stackChartData[0].title,
              "size": 15
            }
          ],
        "trendLines": [],
        "guides" : [],
        "startDuration": 1,
        "type": "serial",
        "allLabels": [],
        "theme": "light",
          "dataProvider": stackChartData[1],
          "valueAxes": [{
              "stackType": "regular",
          }],
          "graphs": [{
              "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
              "fillColors": '#84b761',
              "fillAlphas": 0.8,
              "labelText": "[[value]]",
              "lineColor": '#84b761',
              "lineAlpha": 0.3,
              "title": "Success",
              "type": "column",
              "valueField": "success"
          }, {
              "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
              "fillColors": '#eba2a2',
              "fillAlphas": 0.8,
              "labelText": "[[value]]",
              "lineAlpha": 0.3,
              "lineColor": '#eba2a2',
              "title": "Failed",
              "type": "column",
              "valueField": "failed"
          }],
          "categoryField": "label",
          "categoryAxis": {
              "gridPosition": "start",
              "position": "left",
              "autoRotateAngle": 90,
              "autoRotateCount": 8
          },
          "export": {
            "enabled": true
          },
          "listeners": [{
            "event": "drawn",
            "method": function(event){
              isEmpty = true;
              for (bar of stackChartData[1]) {
                isEmpty = isEmpty && bar.success == 0 && bar.failed == 0;
              }
              if(isEmpty)
                event.chart.addLabel(0, '50%', 'There are no change requests deployment in this periods','center');
            }
          }]
      });
    });
  };

	window.onload = function(){
    loadSourceChart("<%=incident_reports_by_source_path %>");
    loadAverageChart("<%=incident_reports_by_recovered_resolved_duration_path %>");
    loadNumberChart("<%=incident_reports_number_path %>");
    loadDeploymentChart("<%=change_requests_by_success_rate_path %>");
    loadInternalExternalChart("<%=incident_reports_internal_external_path %>");

    $("#source_month_button").click(function(){
      url = "<%=incident_reports_by_source_path %>?month=true";
      loadSourceChart(url);
    });

    $("#source_week_button").click(function(){
      url = "<%=incident_reports_by_source_path %>";
      loadSourceChart(url);
    });

    $("#apply_button").click(function(){
      var duration = $('.deployment-duration-filter').val();
      var tag = $('.deployment-tag-filter').val();
      var start_time = $('#daterange2').data('daterangepicker').startDate.format('YYYY-MM-DD hh:mm A');
      var end_time = $('#daterange2').data('daterangepicker').endDate.format('YYYY-MM-DD hh:mm A');
      var url = '<%=change_requests_by_success_rate_path %>';
      url = url+'?status='+duration;
      url = url+'&start_time='+start_time;
      url = url+'&end_time='+end_time;
      if(tag!=null) {
        url = url+'&tag='+tag;
      }

      loadDeploymentChart(url);
    });

	};

  $(document).ready(function() {
    $('#selected_month').datetimepicker({
        viewMode: 'years',
        format: 'MM/YYYY'
    });

    $('#number_chart_selected_month').datetimepicker({
      viewMode: 'years',
      format: 'MM/YYYY'
    });

    $(".deployment-duration-filter").select2();

    $(".deployment-tag-filter").select2({
      tokenSeparators: [',', ' ']
    });

    $('#daterange').daterangepicker(
      {
        opens: 'left',
        locale: {
          format: 'YYYY-MM-DD',
        },
        timePicker: true,
        timePicker24Hour: true
      },
      function(start, end) {
        $('#daterange span').html(start.format('YYYY-MM-DD hh:mm A') + ' - ' + end.format('YYYY-MM-DD hh:mm A'));
        var url = "<%=incident_reports_by_source_path %>";
        url = url+'?start_time='+start.format('YYYY-MM-DD hh:mm A')+"&end_time="+end.format('YYYY-MM-DD hh:mm A');
        loadSourceChart(url);
      }
    );
    $('#daterange2').daterangepicker(
      {
        opens: 'left',
        locale: {
          format: 'YYYY-MM-DD',
        },
        timePicker: true,
        timePicker24Hour: true
      },
      function(start, end) {
        $('#daterange2 span').html(start.format('YYYY-MM-DD hh:mm A') + ' - ' + end.format('YYYY-MM-DD hh:mm A'));
        // var url = "<%=incident_reports_by_source_path %>";
        // url = url+'?start_time='+start.format('YYYY-MM-DD hh:mm A')+"&end_time="+end.format('YYYY-MM-DD hh:mm A');
        // loadSourceChart(url);
      }
    );

    $('#internal_external_month').datetimepicker({
        viewMode: 'years',
        format: 'MM/YYYY'
    });


    $('#selected_month').on("dp.change", function(e) {
      var time = (e.date.format('YYYY/MM'));
      var url = "<%=incident_reports_by_recovered_resolved_duration_path %>";
      url = url+'?start_time='+time;
      loadAverageChart(url);
    });
    $('#number_chart_selected_month').on("dp.change", function(e) {
      var time = (e.date.format('YYYY/MM'));
      var url = "<%=incident_reports_number_path %>";
      url = url+'?start_time='+time;
      loadNumberChart(url);
    });

    $('#internal_external_month').on("dp.change", function(e) {
      var time = (e.date.format('YYYY/MM'));
      var url = "<%=incident_reports_internal_external_path %>";
      url = url+'?end_time='+time;
      loadInternalExternalChart(url);
    });
  });

</script>
