<!--custom script to remove tinymce before init, it ressolve tinymce and turbolinks problem-->
<script>
  tinymce.remove();
  function eventHandler(inst) {
      unsaved = true;
  };
</script>
<%= form_for(@access_request) do |f| %>
  <% if @access_request.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@access_request.errors.count, "error") %> prohibited this change_request from being saved:</h3>
    <ul>
      <% @access_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div><!--/error-explanation-->
  <% end %>
  <%= f.submit class:"btn btn-primary pull-right", :id => "save", style: 'margin-top: -60px; position: relative;' %>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-header with border"></div>
        <div class="box-body">
          <div class="col-md-6">
            <div class="field form-group required">
              <%= f.label :entity_source, class: 'control-label' %>
              <%= f.select :entity_source ,options_for_select(AccessRequest::ENTITY, @access_request.entity_source), {include_blank: true}, {class: 'form-control select2'}%>
            </div><!--/field-->
            <div class="field form-group required">
              <%= f.label :request_type, {class: 'control-label'} %><br>
              <%= f.select :request_type, options_for_select(AccessRequest::REQUEST_TYPES, @access_request.request_type), {:include_blank => false}, {class: 'form-control select2'} %>
            </div><!--/field-->

            <div class="field form-group required">
              <%= f.label :access_type, {class: 'control-label'} %><br>
              <%= f.select :access_type, options_for_select(AccessRequest::ACCESS_TYPES, @access_request.access_type), {:include_blank => false}, {class: 'form-control select2'} %>
            </div><!--/field-->

            <div class="field form-group temporary-group required">
              <%= f.label :start_date, {class: 'control-label'} %><br>
              <%= f.datetime_select :start_date  %>
            </div><!--/field-->

            <div class="field form-group temporary-group required">
              <%= f.label :end_date, {class: 'control-label'} %><br>
              <%= f.datetime_select :end_date %>
            </div><!--/field-->

            <div class="field form-group temporary-group">
              <%= label_tag 'Duration', nil, class: 'control-label' %><br>
              <%= text_field_tag 'duration', nil, class: 'form-control', disabled: true %>
            </div><!--/field-->

            <div class="field form-group required">
              <%= f.label :business_justification, class: 'control-label' %><br>
              <%= f.text_area :business_justification, class: "form-control tinymce" %>
            </div><!--/field-->

            <script>
            function onDateChange(){
              var a = moment($('#access_request_start_date').val(), 'YYYY-MM-DD HH:mm A');
              var b = moment($('#access_request_end_date').val(), 'YYYY-MM-DD HH:mm A');

              $('#duration').val(b.diff(a, 'days') + ' days');
            }
            $(function(){
              $('.datetimepicker').datetimepicker();
              $('.datetimepicker').on('dp.hide', onDateChange);
            });
            </script>

          </div><!--/col-->
          <div class="col-md-6">
            <div class="field form-group">
              <%= f.label :requestor_name %><br>
              <%= f.text_field :requestor_name, value: current_user.name, class: 'form-control', readonly: :readonly %>
            </div><!--/field-->

            <div class="field form-group">
              <label>Collaborators</label><br>
              <%= select_tag "collaborators_list" ,options_for_select(@users), class: 'select2-collaborate form-control', multiple:true %>
            </div><!--/field-->
            <div class="field form-group required">
              <label class="control-label">Approvers</label><br>
              <%= select_tag "approvers_list" ,options_for_select(@approvers), class: 'select2-approve form-control', multiple:true %>
            </div><!--/field-->


          </div><!--/col-->
        </div><!--/box-body-->
      </div> <!--/box-->


      <div class="box box-default">
        <div class="box-header with border">Employee Details</div>
        <div class="box-body">
          <div class="col-md-6">
            <div class="field form-group required">
              <%= f.label :employee_name, {class: 'control-label'} %><br>
              <%= f.text_field :employee_name, class: 'form-control'  %>
            </div><!--/field-->

            <div class="field form-group required">
              <%= f.label :employee_position, {class: 'control-label'} %><br>
              <%= f.text_field :employee_position, class: 'form-control'  %>
            </div><!--/field-->

            <div class="field form-group required">
              <%= f.label :employee_email_address, {class: 'control-label'} %><br>
              <%= f.text_field :employee_email_address, class: 'form-control'  %>
            </div><!--/field-->

          </div><!--/col-->
          <div class="col-md-6">

            <div class="field form-group required">
              <%= f.label :employee_department, {class: 'control-label'} %><br>
              <%= f.text_field :employee_department, class: 'form-control'  %>
            </div><!--/field-->

            <div class="field form-group required">
              <%= f.label :employee_phone, {class: 'control-label'} %><br>
              <%= f.text_field :employee_phone, class: 'form-control'  %>
            </div><!--/field-->

          </div><!--/col-->
        </div><!--/box-body-->
      </div> <!--/box-->

      <div class="box box-default">
        <div class="box-header with border">Request Details</div>
        <div class="box-body">
          <div class="col-md-6">
            <div class="field form-group">
              <%= f.check_box :employee_access  %>
              <%= f.label :employee_access %><br>

              <div class="field form-group">
                <%= f.label :fingerprint_access, {class: 'control-label'} %><br>

                <%= f.check_box :fingerprint_business_area  %>
                <%= f.label :fingerprint_business_area, class: 'inherit-font-weight' %><br>

                <%= f.check_box :fingerprint_business_operations  %>
                <%= f.label :fingerprint_business_operations, class: 'inherit-font-weight' %><br>

                <%= f.check_box :fingerprint_it_operations  %>
                <%= f.label :fingerprint_it_operations, class: 'inherit-font-weight' %><br>

                <%= f.check_box :fingerprint_server_room  %>
                <%= f.label :fingerprint_server_room, class: 'inherit-font-weight' %><br>

                <%= f.check_box :fingerprint_archive_room  %>
                <%= f.label :fingerprint_archive_room, class: 'inherit-font-weight' %><br>

                <%= f.check_box :fingerprint_engineering_area  %>
                <%= f.label :fingerprint_engineering_area, class: 'inherit-font-weight' %><br>
              </div><!--/field-->

              <div class="field form-group">
                <%= f.label :corporate_email, {class: 'control-label'} %><br>
                <%= f.text_field :corporate_email, class: 'form-control'  %>
              </div><!--/field-->

              <div class="field form-group">
                <%= f.label :other_access, {class: 'control-label'} %><br>

                <%= f.check_box :internet_access  %>
                <%= f.label :internet_access, class: 'inherit-font-weight' %><br>

                <%= f.check_box :slack_access  %>
                <%= f.label :slack_access, class: 'inherit-font-weight' %><br>

                <%= f.check_box :admin_tools  %>
                <%= f.label :admin_tools, class: 'inherit-font-weight' %><br>

                <%= f.check_box :vpn_access  %>
                <%= f.label :vpn_access, class: 'inherit-font-weight' %><br>

                <%= f.check_box :github_gitlab  %>
                <%= f.label :github_gitlab, class: 'inherit-font-weight' %><br>

                <%= f.check_box :exit_interview  %>
                <%= f.label :exit_interview, class: 'inherit-font-weight' %><br>

                <%= f.check_box :access_card  %>
                <%= f.label :access_card, class: 'inherit-font-weight' %><br>

                <%= f.check_box :parking_cards  %>
                <%= f.label :parking_cards, class: 'inherit-font-weight' %><br>

                <%= f.check_box :id_card  %>
                <%= f.label :id_card, class: 'inherit-font-weight' %><br>

                <%= f.check_box :name_card  %>
                <%= f.label :name_card, class: 'inherit-font-weight' %><br>

                <%= f.check_box :insurance_card  %>
                <%= f.label :insurance_card, class: 'inherit-font-weight' %><br>

                <%= f.check_box :cash_advance  %>
                <%= f.label :cash_advance, class: 'inherit-font-weight' %><br>

                <%= f.check_box :metabase %>
                <%= f.label :metabase, class: 'inherit-font-weight' %><br>

                <%= f.check_box :solutions_dashboard %>
                <%= f.label :solutions_dashboard, class: 'inherit-font-weight' %><br>
              </div><!--/field-->
            </div><!--/field-->

          </div><!--/col-->
          <div class="col-md-6">

            <div class="field form-group">
              <%= f.check_box :password_reset  %>
              <%= f.label :password_reset %><br>

              <div class="field form-group">
                <%= f.label :user_identification, {class: 'control-label'} %><br>
                <%= f.text_field :user_identification, class: 'form-control'  %>
              </div><!--/field-->

              <div class="field form-group">
                <%= f.label :asset_name, {class: 'control-label'} %><br>
                <%= f.text_field :asset_name, class: 'form-control'  %>
              </div><!--/field-->
            </div><!--/field-->

            <div class="field form-group">
              <%= f.check_box :production_access  %>
              <%= f.label :production_access %><br>

              <div class="field form-group">
                <%= f.label :production_user_id, {class: 'control-label'} %><br>
                <%= f.text_field :production_user_id, class: 'form-control'  %>
              </div><!--/field-->

              <div class="field form-group">
                <%= f.label :production_asset, {class: 'control-label'} %><br>
                <%= f.text_field :production_asset, class: 'form-control'  %>
              </div><!--/field-->
            </div><!--/field-->

          </div><!--/col-->
        </div><!--/box-body-->
      </div> <!--/box-->

    </div><!--/col-->
  </div><!--/row-->
<% end %>

<script>
  $(document).ready(function () {
    $('body').attr("data-no-turbolink", "true");
    $('input[type="checkbox"].toggle').bootstrapToggle(); // assumes the checkboxes have the class "toggle"
    $('#save').click(function() {
      unsaved = false;
    });
    // Another way to bind the event
    $(window).bind('beforeunload', function() {
        if(unsaved){
            return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
        }
    });
    // Monitor dynamic inputs
    $(document).on('change', ':input', function(){ //triggers change in all input fields including text type
        unsaved = true;
    });

    $('.datetimepicker').on("dp.change", function(e) {
      unsaved = true;
    });

    function onAccessTypeChange(){
      if($('#access_request_access_type').val() == 'Temporary')
        $('.temporary-group').show();
      else
        $('.temporary-group').hide();
    }

    $('#access_request_access_type').on('change', onAccessTypeChange);
    onAccessTypeChange();
  });
  $(function(){
    var collaborators = []
    <% @access_request.collaborators.each do |collaborator| %>
      collaborators.push('<%= collaborator.id %>');
    <% end %>
    $(".select2-collaborate").val(collaborators);
    $(".select2-collaborate").select2({
      tokenSeparators: [',', ' ']
    });
    var approvers = []
    <% @access_request.approvals.each do |approval| %>
      approvers.push('<%= approval.user_id %>');
    <% end %>
    $(".select2-approve").val(approvers);
    $(".select2-approve").select2({
      tokenSeparators: [',', ' ']
    });
  });

</script>
