<% require 'html_truncator' %>
<section class="content-header">
  <h1 class="access-request-title">
    Access Requests
    <%= link_to  new_access_request_path, class: 'btn btn-flat btn-primary pull-right'  do %>
         <i class="fa fa-plus"></i> <strong>New Access Request</strong>
    <% end %>
    <button type="button" class="btn btn-flat btn-primary pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i><strong> Import from csv</strong></button>
  </h1>
</section>
<section class="content">
 <div class="row">
    <div class='col-lg-12'>
      <%if flash[:alert] != nil %>
        <div class="alert alert-danger alert-dismissable ">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4>  <i class="icon fa fa-check"></i> Warning</h4>
          <p id="notice"><%= flash[:alert]  %></p>
        </div>
      <% end %>
      <%if flash[:invalid] != nil %>
       <div class="alert alert-warning alert-dismissable ">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>  <i class="icon fa fa-times"></i> Warning</h4>
          <p id="notice"><%= flash[:invalid]  %></p>
      </div>
      <% end %>
      <%if flash[:notice] != nil %>
       <div class="alert alert-success alert-dismissable ">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>  <i class="icon fa fa-check"></i> Success!</h4>
          <p id="notice"><%= flash[:notice]  %></p>
      </div>
      <% end %>
    </div>

    <div class="col-xs-12">
      <div class="box box-default">
        <div class="box-header">
          <h3 class="box-title">Search Access Request</h3>
        </div><!--/box-header-->
        <div class="box-body">
          <%= form_tag search_access_requests_path, method: :get, id: 'search-form' do%>
              <div class="input-group">
                <span class="input-group-btn">
                  <button id="search-button" type="submit" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                </span>
                <%= text_field_tag :search, params[:search], class: 'form-control', autofocus: :autofocus, id: 'search-box', onkeypress: 'return noenter()'%>
              </div><!-- /input-group -->
          <% end %>
        </div><!-- /.box-body -->
      </div>
    </div>

    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">
            <% case params[:type] %>
            <% when 'approval' %>
              Showing access requests that needs your approval
            <% else %>
              Showing all access requests
            <% end %>
          </h3>
          <hr>
          <div>
            <b>Quick filters:</b>
            <%= link_to "All", access_requests_path, class: 'btn-sm btn-primary' %>
            <%= link_to "Relevant to me", access_requests_path(type: 'relevant'), class: 'btn-sm btn-primary' %>
            <% if current_user.is_approver? %>
              <%= link_to "Need my approvals", access_requests_path(type: 'approval'), class: 'btn-sm btn-primary' %>
            <% end %>
          </div>
        </div>
        <div class="box-body table-responsive" style="overflow-x: auto;">
          <table class="table table-hover">
            <tr>
                <th>Request ID</th>
                <th>Employee Name</th>
                <th>Request Type</th>
                <th>Access Type</th>
                <th>Requested Date</th>
                <th>Requestor</th>
                <th>Status</th>
                <th>Approval Status</th>
                <th colspan="3">Action</th>
            </tr>
            <% @access_requests.each do |access_request| %>
              <tr>
                <td><%= link_to access_request.id, access_request %></td>
                <td><%= access_request.employee_name %></td>
                <td><%= access_request.request_type %></td>
                <td><%= access_request.access_type %></td>
                <td><%= access_request.request_date %></td>
                <td><%= access_request.user.name %></td>
                <td><%= access_request.aasm_state %></td>
                <td>
                  <% if access_request.approval_status == 'success' %>
                    <i class="glyphicon glyphicon-ok" style="color:green;"></i>
                  <% elsif access_request.approval_status == 'failed' %>
                    <i class="glyphicon glyphicon-remove" style="color:red;"></i>
                  <% elsif access_request.approval_status == 'on progress' %>
                    <i class="glyphicon glyphicon-exclamation-sign" style="color:orange;"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to access_request, title: "Show" do %>
                    <i class='glyphicon glyphicon-eye-open'><span style='display: none'> Show </span></i>
                  <% end %>
                  <%if access_request.editable?(current_user) %>
                    <%= link_to edit_access_request_path(access_request) do %>
                      <i class='glyphicon glyphicon-edit'><span style='display: none'> Edit </span></i>
                    <% end %>
                  <% end %>
                  <% if current_user==access_request.user || current_user.is_admin %>
                    <%= link_to access_request, title: "Delete",  method: :delete, data: { confirm: 'Are you sure?' } do%>
                      <i class='glyphicon glyphicon-trash'><span style='display: none'> Delete </span></i>
                    <% end %>
                  <% end %>
                </td>
            </tr>
            <% end %>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <%= paginate @access_requests, :theme => 'twitter-bootstrap-3'%>
        </div>
      </div><!-- /.box -->
    </div>

    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import from CSV</h4>
      </div>
      <div class="modal-body">
        <%= form_tag import_from_csv_access_requests_path, multipart:true, method: "post", :onsubmit => "return Validate(this);" do %>
            <%= file_field_tag :csv %>
            <%= submit_tag("Submit") %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>
<aside class="control-sidebar control-sidebar-light" style="height: 100vh; overflow: hidden" id='sidebar-pane'>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <a href='#' data-toggle='control-sidebar'> <i class='glyphicon glyphicon-remove pull-right'></i></a>
    <div class="tab-pane active" id="control-sidebar-home-tab">
      <h2 class="control-sidebar-heading">Filter</h2>

      <%= search_form_for @q do |f| %>
        <div id="overflow" style="display: block; height: 80vh; overflow-y: auto">
          <div class="form-group">
            <%= f.label :request_type %>
            <%= f.select :request_type_eq, options_for_select([['Any','']] + AccessRequest::REQUEST_TYPES, params[:q]? params[:q][:request_type_eq] : 'Any' ), {}, {class: 'form-control select2'} %>
          </div>
          <div class="form-group">
            <%= f.label :access_type %>
            <%= f.select :access_type_eq, options_for_select([['Any','']] + AccessRequest::ACCESS_TYPES, params[:q]? params[:q][:access_type_eq] : 'Any' ), {}, {class: 'form-control select2'} %>
          </div>
          <h4>Employee Details</h4>
          <div class="form-group">
            <%= f.label :employee_name %>
            <%= f.search_field :employee_name_cont, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :employee_position %>
            <%= f.search_field :employee_position_cont, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :employee_email_address %>
            <%= f.search_field :employee_email_address_cont, class: 'form-control' %>
          </div>
          <div>
            <%= f.label :employee_department %>
            <%= f.search_field :employee_department_cont, class: 'form-control' %>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :created_at_between %><br>
            from: <%= f.datetime_select :created_at_gteq, :include_blank => true, class: 'form-control' %><br>
            until: <%= f.datetime_select :created_at_lteq,:include_blank => true, class: 'form-control' %>
          </div>
        </div>

        <%= f.submit class: 'btn btn-primary pull-left' %>
      <%end%>
      <%= search_form_for @q do |f| %>
       <%= f.submit 'Reset', class: 'btn btn-primary pull-right' %>
      <% end %>
    </div><!-- /.tab-pane -->
    <!-- Stats tab content -->
  </div>
</aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class='control-sidebar-bg'></div>
<script>
var _validFileExtensions = [".csv"];    
function Validate(oForm) {
    var arrInputs = oForm.getElementsByTagName("input");
    for (var i = 0; i < arrInputs.length; i++) {
        var oInput = arrInputs[i];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
                
                if (!blnValid) {
                    alert("Sorry, file extensions is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    return false;
                }
            }
        }
    } 
    return true;
}
</script>

