<script>
    tinymce.remove();
    function eventHandler(inst) {
        unsaved = true;
    };
    tinyMCE.init({
      selector: "textarea.tinymce",
      menubar: false,
      plugins: "textcolor link image tabfocus ",
      toolbar: "undo redo | styleselect | bold italic| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor",
      theme: "modern",
      toolbar_items_size: 'small',
      browser_spellcheck: true,
      statusbar: false,
      setup: function (ed) {
        ed.on("change", function () {
            eventHandler(ed);
        })
    }
    });
</script>
<section class="content-header">
  <h1>
    Create CAB
  </h1>
</section>
<section class="content">
<% if @cab.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @cab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> <!-- /#error_explanation -->
<% end %> <!-- /end if cab.errors -->

<%= form_for(@cab) do |f| %>
<div class='row'>
    <div class = 'col-lg-12'>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">CAB Details</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="field form-group">
                <%= f.label :meet_date %><br>
                <%= f.datetime_select :meet_date,start_year: 2015,:include_blank => true %>
                </div><!--/field-->
                <div class="field form-group">
                <%= f.label :room %><br>
                <%= f.text_field :room, class: 'form-control' %>
                </div><!--/field-->
                <div class="field form-group">
                <%= f.label :notes %><br>
                <%= f.text_area :notes, class: "form-control tinymce" %>
                </div><!--/field-->
                <div class="field form-group">
                  <%= f.label :participant %><br>
                  <%= f.select :participant, options_for_select(@participants, @cab.participant), {},{class: 'select2-tag form-control', multiple:'multiple'} %>
            </div><!--/field-->
            </div><!--/box-body-->
        </div><!--/box-->
    </div><!--/col-->
</div><!--/row-->
<div class='row'>
  <div class='col-lg-6'>
      <div class = 'box'>
        <div class= 'box-header with-border'>
            <h3 class="box-title">CAB Meeting</h3>
        </div><!--/box-header-->
        <div class= 'box-body'>
          <div id="cab-list" class="box-group list-group">
            <% @current_change_requests.each do |current_change_request| %>
              <div data-id=<%= current_change_request.id %> class='list-group-item panel box box-solid'>
                <div class='box-header with-border'>
                  <h4 class="list-group-item-heading box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= current_change_request.id%>">
                      <%= current_change_request.change_summary %></a>
                  </h4>
                </div><!--/box-header-->
                <div id="collapse<%= current_change_request.id%>" class="panel-collapse collapse">
                  <div class='box-body'>
                    <p class="list-group-item-text">
                        <%=raw current_change_request.business_justification %>
                    </p>
                  </div><!--/box-body-->
                </div><!--/panel-collapse collapse-->
              </div><!--list-group-item panel box-->
            <% end %><!--/current_change_request.each-->
          </div><!--box-group list-group-->
        </div><!--/box-body-->
      </div><!--/box-->
  </div><!--col-->
  <div class='col-lg-6'>
    <div class='box'>
      <div class='box-header with-border'>
          <h3 class='box-title'>Available Change Requests</h3>
      </div><!--/box-header-->
      <div class='box-body'>
        <div id="all-list" class="box-group list-group">
          <% @change_requests.each do |change_request| %>
            <div data-id=<%= change_request.id %> class='list-group-item panel box box-solid'>
              <div class='box-header with-border'>
                <h4 class="list-group-item-heading box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= change_request.id%>">
                    <%= change_request.change_summary %></a>
                </h4>
              </div><!--box-header-->
              <div id="collapse<%= change_request.id%>" class="panel-collapse collapse">
                <div class='box-body'>
                  <p class="list-group-item-text">
                      <%= change_request.business_justification %>
                  </p>
                </div><!--box-body-->
              </div><!--panel-collapse collapse-->
            </div><!--list-group-item panel box-->
          <% end %><!--/change_request.each-->
        </div><!--/box-group list-group-->
      </div><!--/box-body-->
    </div><!--/box-->
  </div><!--/col-->
</div><!--/row-->
<%= text_field_tag 'cr_list' %>
<%= text_field_tag 'all_cr_list' %>
<div class="actions">
  <%= f.submit class:"btn btn-primary", :id => 'save' %>
</div>
<% end %><!--/form-->
</section><!--/content-->

<style>
.list-group {
  min-height: 20px;
}
#cr_list {
  display: none;
}
#all_cr_list {
  display: none;
}
</style>
<script>
  $(document).ready(function () {
    //if not set, close warning wont prompt
    $('body').attr("data-no-turbolink", "true");
    

    $('#save').click(function() {
      unsaved = false;
    });
    // Another way to bind the event
    $(window).bind('beforeunload', function() {
        if(unsaved){
            return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
        }
    });
    // Monitor dynamic inputs
    $(document).on('change', ':input', function(){ //triggers change in all input fields including text type
        unsaved = true;
    });

    $('.datetimepicker').on("dp.change", function(e) {
      unsaved = true;
    });
  });

  var el = document.getElementById('all-list');
  var sortable = Sortable.create(el, {
      group:'cab', 
      onAdd: function (evt) {
          // + indexes from onEnd
          unsaved = true;
          var cr_list = document.getElementById('all_cr_list');
          cr_list.value = sortable.toArray();
      },
      onRemove: function (evt) {
          // + indexes from onEnd
          unsaved = true;
          var cr_list = document.getElementById('all_cr_list');
          cr_list.value = sortable.toArray();
      }
      
  });
  var el2 = document.getElementById('cab-list');
  var sortable2 = Sortable.create(el2, {
      group: 'cab',
      onAdd: function (evt) {
          // + indexes from onEnd
          unsaved = true;
          var cr_list = document.getElementById('cr_list');
          cr_list.value = sortable2.toArray();
      },
      onRemove: function (evt) {
          // + indexes from onEnd
          unsaved = true;
          var cr_list = document.getElementById('cr_list');
          cr_list.value = sortable2.toArray();
      }
  });

  $(function(){
    $(".select2-tag").val(["cr@***REMOVED***", "stig@***REMOVED***"]);
    $(".select2-tag").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });

});
</script>