 <section class="content-header">
  <h1>
    Change Requests
    <%= link_to  new_cab_path, class: 'btn btn-flat btn-primary pull-right'  do %>
         <i class="fa fa-plus"></i> <strong>Arrange CAB</strong>
    <%end %> 
    </h1>
</section>
<section class="content">
 <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">CAB List</h3>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <tr>
                <th>CAB Date</th>
                <th colspan="3">Action</th>
            </tr>
            <% @cabs.each do |cab| %> 
            <tr>
                <td><%=raw cab.meet_date.to_s(:long) %></td>
                <td><%= link_to 'Show', cab %></td>
                <td><%= link_to 'Edit', edit_cab_path(cab) %></td>
                <td><%= link_to 'Destroy', cab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
            <%= paginate @cabs, :theme => 'twitter-bootstrap-3'%>
        </div>
      </div><!-- /.box -->
    </div>
  </div>
</section>
