<script>
    tinymce.remove();
    function eventHandler(inst) {
        unsaved = true;
    };
    tinyMCE.init({
      selector: "textarea.tinymce",
      menubar: false,
      plugins: "textcolor link image tabfocus ",
      toolbar: "undo redo | styleselect | bold italic| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor",
      theme: "modern",
      toolbar_items_size: 'small',
      browser_spellcheck: true,
      statusbar: false,
      setup: function (ed) {
        ed.on("change", function () {
            eventHandler(ed);
        })
    }
    });
</script>
<section class="content-header">
  <h1>
    Create CAB
  </h1>
</section><!--/content-header-->
<section class="content">
  <% if @cab.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @cab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div><!--/alert alert-danger-->
  <% end %>
  <!--custom script to remove tinymce before init, it ressolve tinymce and turbolinks problem-->
  <%= form_for(@cab) do |f| %>
    <div class='row'>
      <div class = 'col-lg-12'>
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">CAB Details</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="field form-group">
              <%= f.label :meet_date %><br>
              <%= f.datetime_select :meet_date,start_year: 2015,:include_blank => true %>
            </div><!--/field-->
            <div class="field form-group">
              <%= f.label :room %><br>
              <%= f.text_field :room, class: 'form-control' %>
            </div><!--/field-->
            <div class="field form-group">
              <%= f.label :notes %><br>
              <%= f.text_area :notes, class: "form-control tinymce" %>
            </div><!--/field-->
            <div class="field form-group">
              <%= f.label :participant %><br>
              <%= f.select :participant, options_for_select(@participants), {},{class: 'select2-tag form-control', multiple:'multiple'} %>
            </div><!--/field-->
          </div><!--/box-body-->
        </div><!--/box-->
      </div><!--/col-->
    </div><!--/row-->
    <div class='row'>
      <div class='col-lg-6 col-md-6'>
        <div class = 'box'>
          <div class= 'box-header with-border'>
            <h3 class="box-title">CAB Meeting</h3>
          </div><!--/box-header-->
          <div class= 'box-body'>
            <ul id="cab-list" class="list-group">
            </ul>
          </div><!--/box-body-->
        </div><!--/box-->
      </div><!--/col-->
      <div class='col-lg-6 col-md-6 col-xs-12'>
        <div class='box'>
          <div class='box-header with-border'>
            <h3 class='box-title'>Available Change Requests</h3>
          </div><!--/box-header-->
          <div class='box-body'>
            <div id="header">Search</div>
            <br>
            <ul id="all-list" class="list-group">
              <% @change_requests.each do |change_request| %>
                <li data-id=<%= change_request.id %> class='list-group-item panel box box-solid'>
                  <div class='box-header with-border'>
                    <h4 class="list-group-item-heading box-title">
                      <%=raw change_request.change_summary %>
                    </h4>
                  </div><!--/box-header-->
                </li><!--/list-group-item panel box-->
              <% end %><!--/change_request.each-->
            </ul><!--/box-group-->
          </div><!--/box-body-->
        </div><!--/box-->
      </div><!--/col-->
    </div><!--/row-->
    <%= text_field_tag 'cr_list' %>
    <%= text_field_tag 'all_cr_list' %>
    <div class="actions">
      <%= f.submit class:"btn btn-primary", :id => 'save' %>
    </div>
  <% end %><!--/form-->
</section><!--/content-->


<style>
.list-group {
  min-height: 20px;
}
#cr_list {
  display: none;
}
#all_cr_list {
  display: none;
}

</style>

<!--custom script for change request draggable function -->
<script>
 
  $(document).ready(function () {
    $('body').attr("data-no-turbolink", "true");
    $('#save').click(function() {
      unsaved = false;
    });
    // Another way to bind the event
    $(window).bind('beforeunload', function() {
        if(unsaved){
            return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
        }
    });
    // Monitor dynamic inputs
    $(document).on('change', ':input', function(){ //triggers change in all input fields including text type
        unsaved = true;
    });

    $('.datetimepicker').on("dp.change", function(e) {
      unsaved = true;
    });


  });
  var el = document.getElementById('all-list');
  var sortable = Sortable.create(el, {
    group:'cab', 
    onAdd: function (evt) {
          // + indexes from onEnd
          unsaved = true;
          var cr_list = document.getElementById('all_cr_list');
          cr_list.value = sortable.toArray();
      },
      onRemove: function (evt) {
          // + indexes from onEnd
          unsaved = true;
          var cr_list = document.getElementById('all_cr_list');
          cr_list.value = sortable.toArray();
      }
    
  });
  var el2 = document.getElementById('cab-list');
  var sortable2 = Sortable.create(el2, {
    group: 'cab',
    onAdd: function (evt) {
          // + indexes from onEnd
          unsaved = true;
          var cr_list = document.getElementById('cr_list');
          cr_list.value = sortable2.toArray();
      },
      onRemove: function (evt) {
          // + indexes from onEnd
          unsaved = true;
          var cr_list = document.getElementById('cr_list');
          cr_list.value = sortable2.toArray();
      }
  });
  $(function(){
    $(".select2-tag").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
});
   
</script>

<script>

// Copyright (c) 2010 Kilian Valkhof

// Permission is hereby granted, free of charge, to any person
// obtaining a copy of this software and associated documentation
// files (the "Software"), to deal in the Software without
// restriction, including without limitation the rights to use,
// copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the
// Software is furnished to do so, subject to the following
// conditions:

// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.

// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
// OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
// HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
// WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
// OTHER DEALINGS IN THE SOFTWARE.

(function ($) {
  // custom css expression for a case-insensitive contains()
  jQuery.expr[':'].Contains = function(a,i,m){
      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
  };

  function listFilter(header, list) { // header is any element, list is an unordered list
    // create and add the filter form to the header
    var form = $("<form>").attr({"class":"filterform","action":"#"}),
        input = $("<input>").attr({"class":"filterinput form-control","type":"text"});
    $(form).append(input).appendTo(header);

    $(input)
      .change( function () {
        var filter = $(this).val();
        if(filter) {
          // this finds all links in a list that contain the input,
          // and hide the ones not containing the input while showing the ones that do
          $(list).find("div:not(:Contains(" + filter + "))").parent().slideUp();
          $(list).find("div:Contains(" + filter + ")").parent().slideDown();
        } else {
          $(list).find("li").slideDown();
        }
        return false;
      })
    .keyup( function () {
        // fire the above change event after every letter
        $(this).change();
    });
  }

  //ondomready
  $(function () {
    listFilter($("#header"), $("#all-list"));
  });
}(jQuery));

</script>