<section class="content-header">
	<h1>
	 CAB
	</h1>
	<br>
	<%= link_to 'Edit', edit_cab_path, :class => 'btn btn-primary btn-flat'  %>
</section><!--/content-header-->

<section class='content'>
	<div class='row'>
		<div class='col-lg-6'>
			<%if flash[:create_cab_notice] != nil %>
  			<div class='alert alert-success'>
  				<p id="notice"><%= flash[:create_cab_notice]  %></p>
  			</div><!--/alert-->
		  <% end %><!--/flash[:create_cab_notice]-->
		  <%if flash[:update_cab_notice] != nil %>
  			<div class='alert alert-success'>
  				<p id="notice"><%= flash[:update_cab_notice]  %></p>
  			</div><!--/alert-->
		  <% end %><!--/flash[:update_cab_notice]-->
			<div class='box box-default'>
				<div class='box-header with-border'>
					<h3 class='box-title'><%= @cab.meet_date.to_s(:long) %></h3>
				</div><!--/box-header-->
				<div class='box-body'>
					<label> Room: </label>
					<%= @cab.room %><br>
					<label>Notes: </label>
					<%=raw @cab.notes %>
					<div id="all-list" class="list-group">
  					<% @current_change_requests.each do |change_request| %>
  						<div data-id=<%= change_request.id %> class='list-group-item'>
    						<h4 class="list-group-item-heading"><%=raw change_request.change_summary %></h4>
    				    <p class="list-group-item-text"></p>
    				    <%= link_to 'Edit', edit_change_request_path(change_request) %> |
                <%= link_to 'Show', change_request_path(change_request) %>
  						</div><!--/list-group-item-->
  					<% end %><!--/current_change_request.each-->
					</div><!--/list-group-->
				</div><!--/box-body-->
			</div><!--/box-->
		</div><!--/col-->
		<div class='col-lg-6'>
			<div class='box box-default'>
				<div class='box-body'>
					<div id='cr_calendar'>
					</div>
					<%= form_tag(update_cr_path) do  %>
						<% @current_change_requests.each do |change_request| %>
						<%= hidden_field_tag 'start'+change_request.id.to_s, change_request.schedule_change_date.to_time.iso8601  %>
						<%= hidden_field_tag 'end'+change_request.id.to_s, change_request.planned_completion.to_time.iso8601  %>
						<% end %>
						<br>
						<%= submit_tag "Save", class:"btn btn-primary", id:'save'%>
					<% end %><!--/form-->
				</div><!--/box-body-->
			</div><!--/box-->
		</div><!--/col-->
	</div><!--/row-->
</section><!--/content-->

<!--full calendar script-->
<script>
$(document).on('ready page:load', function () {
	$('body').attr("data-no-turbolink", "true");
    
    $('#save').click(function() {
      unsaved = false;
    });
    // Another way to bind the event
    $(window).bind('beforeunload', function() {
        if(unsaved){
            return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
        }
    });
    // Monitor dynamic inputs
    $(document).on('change', ':input', function(){ //triggers change in all input fields including text type
        unsaved = true;
    });

    $('.datetimepicker').on("dp.change", function(e) {
      unsaved = true;
    });

   $("#cr_calendar").fullCalendar({
    defaultView: "agendaWeek",
    editable: true,
    allDaySlot: false,
    header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaWeek,agendaDay'
	},
    events: "<%=@cab.id%>/get_change_requests.json",
    dragOpacity: "0.5",
    eventDrop: function(event, delta, revertFunc) {
    	unsaved = true;
    	var start_id = 'start'+event.id;
    	var end_id = 'end'+event.id;
    	var start_field = document.getElementById(start_id);
    	var end_field = document.getElementById(end_id);
    	start_field.value = event.start.format();
    	end_field.value = event.end.format();
        //alert(event.title + " was dropped on " + event.start.format() + "end" + event.end.format());
    },
	eventResize: function(event, delta, revertFunc) {
		unsaved = true;
		var start_id = 'start'+event.id;
    	var end_id = 'end'+event.id;
    	var start_field = document.getElementById(start_id);
    	var end_field = document.getElementById(end_id);
    	start_field.value = event.start.format();
    	end_field.value = event.end.format();
	}
  });
});
</script>

<style type="text/css">
.fc-content {
    font-size: 12pt;
}
</style>