<section class="content-header">
  	<h1>
  	CAB
  	</h1>
 	
</section>

<section class='content'>
	<div class='row'>
		<div class='col-lg-6'>
			<%if flash[:create_cab_notice] != nil %>
			<div class='alert alert-success'>
				<p id="notice"><%= flash[:create_cab_notice]  %></p>
			</div>
		   	<% end %>
		   	<%if flash[:update_cab_notice] != nil %>
			<div class='alert alert-success'>
				<p id="notice"><%= flash[:update_cab_notice]  %></p>
			</div>
		   	<% end %>
			<div class='box box-default'>
				<div class='box-header with-border'>
					<h3 class='box-title'><%= @cab.meet_date.to_s(:long) %></h3>
				</div>
				<div class='box-body'>
					<label> Room: </label>
					<%= @cab.room %><br>
					<label>Notes: </label>
					<%=raw @cab.notes %>
					<div id="all-list" class="list-group">
					<% @current_change_requests.each do |change_request| %>
						<div data-id=<%= change_request.id %> class='list-group-item'>
						<h4 class="list-group-item-heading"><%=raw change_request.change_summary %></h4>
					    <p class="list-group-item-text"></p>
					    <%= link_to 'Edit', edit_change_request_path(change_request) %> |
					     <%= link_to 'Show', change_request_path(change_request) %>
						</div>
					<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-6'>
			<div class='box box-default'>
				<div class='box-body'>
					<div id='cr_calendar'>
					</div>
					<%= form_tag(update_cr_path) do  %>
						<% @current_change_requests.each do |change_request| %>
						<%= hidden_field_tag 'start'+change_request.id.to_s, change_request.schedule_change_date.to_time.iso8601  %>
						<%= hidden_field_tag 'end'+change_request.id.to_s, change_request.planned_completion.to_time.iso8601  %>
						<% end %>
						<br>
						<%= submit_tag "Save", class:"btn btn-primary"%>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
$(document).on('ready page:load', function () {
   $("#cr_calendar").fullCalendar({
    defaultView: "agendaWeek",
    editable: true,
    allDaySlot: false,
    header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaWeek,agendaDay'
	},
    events: "<%=@cab.id%>/get_change_requests.json",
    dragOpacity: "0.5",
    eventClick: function(event) {
	    if (event.url) {
	        window.location.href(event.url);
	        return false;
	    }
    }, 
    eventDrop: function(event, delta, revertFunc) {
    	var start_id = 'start'+event.id;
    	var end_id = 'end'+event.id;
    	var start_field = document.getElementById(start_id);
    	var end_field = document.getElementById(end_id);
    	start_field.value = event.start.format();
    	end_field.value = event.end.format();
        //alert(event.title + " was dropped on " + event.start.format() + "end" + event.end.format());
    },
	eventResize: function(event, delta, revertFunc) {
		var start_id = 'start'+event.id;
    	var end_id = 'end'+event.id;
    	var start_field = document.getElementById(start_id);
    	var end_field = document.getElementById(end_id);
    	start_field.value = event.start.format();
    	end_field.value = event.end.format();
	}
  });
});
</script>
<style type="text/css">
.fc-content {
    font-size: 12pt;
}</style>