<!DOCTYPE html>
<html>
  <head>
    <title>Vision</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="skin-blue sidebar-mini">
  	<div class="wrapper">
      <% if current_user!=nil%>
        <%= render 'pages/nav' %>
      <% end %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>
    <%= yield :login %>
  </body>
</html>
