<!DOCTYPE html>
<html>
  <head>
    <title>Vision</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <% if current_user!=nil%>
    <body class="skin-blue sidebar-mini sidebar-collapse " onload="window.print();">
    	<div class="wrapper">
        
          <%= render 'pages/nav' %>
        
        <div class="content-wrapper">
          <%= yield %>
        </div>
      </div>
    </body>
  <% end %>
   <%= yield :login %>
</html>
